---
layout: story
permalink: /glendale-how-an-addict-and-his-mother-took-the-first-steps-to-getting-help/
title: "Glendale: How an addict and his mother took the first steps to getting help"
credit: "Imelda Mejia"
date: "Jan. 13, 2015"
---

<p>Every Thursday night, parents and others assemble in a circle of chairs at Calvary Community Church in Glendale.</p>


<p>Rather than a prayer circle or church committee, this group’s agenda can include stories about finding discarded tin foil with black lines on it or calling the police on a child addicted to heroin.</p>


<p>On this evening, a woman shares how she dreads the possibility that someone will call at 9 a.m. to say her son is dead. A father with a son coming out of rehab for heroin addiction tells the group he’s decided not to let him come back to work at the family business.</p>

<p>Facilitating the meeting and offering advice are Karen and John Blevins, volunteers with Parents of Addicted Loved-ones. Before participants share their stories, the couple teaches a lesson titled “13 Family Lessons About Recovery.” </p>

{% include e-pin-hooked.html %}

<p>Calvary Community Church is one of 16 sites around the state hosting meetings of Parents of Addicted Loved-ones. Each session begins with a prayer, followed by someone reading the organization’s preamble: “Within the safety of confidentiality, respect and acceptance, members share and receive support from each other as we each face similar challenges.”</p>


<p>The free meetings consist of a lesson and then parents — and sometimes recovering addicts — share stories and offer help and feedback to each other. </p>


<p>The group allowed reporters to attend several meetings in Glendale and Phoenix on the condition that they would respect the confidentiality of participants. </p>


<p>Outside of the meetings, however, three parents shared their stories. They spoke on the condition that only first names be used for fear of harming their children’s futures.</p>

{% include e-floatfix.html %} 

<h3>Janece’s story</h3>


<p>Janece, who lives in north Phoenix, said her son Jonathan was an easy-going kid growing up. </p>


<p>“He was a bit mischievous, but not in a bad way. He would disrupt the class with his desire to make others laugh,” she said. “He became an ambassador for the underachievers in fourth and fifth grade.”</p>


<p>Janece was no stranger to drug addiction, saying she divorced Jonathan’s father because he was addicted to prescription painkillers. Her older son used meth but stopped using after his girlfriend overdosed. </p>


<p>“You’d think when they saw their dad — I just thought, ‘Oh, they’d never want to be like him,’ but that didn’t work,” she said.</p>


<p>Jonathan started using marijuana as a teenager and graduated to heroin when he was around 20 years old, Janece said. </p>

{% include e-sideimage.html image="Glendale-janece.jpg" caption="Janece, who agreed to be interviewed on the condition that only her first name be used, said she’s no longer afraid to speak about her experiences as the mother of a heroin addict. She encourages others to do the same. Photo by Imelda Mejia/Cronkite News" %}

<p>“He told me the first time he did heroin he was addicted,” she said. “There was no going back.”</p>


<p>The two of them have been on the journey to recovery for three years, Janece said. In that time, she said she felt like she couldn’t find help anywhere.</p>


<p>“One time when he OD’d, a social worker came to the hospital to speak with me. I asked her, ‘Just keep him overnight so I can find a place for him to go,’” she said. “This is the most shocking thing that she said to me. She said, ‘We can’t keep him. If we kept every person that OD’d every night, we wouldn’t have beds for any of the sick people.’”</p>


<p>From 2010 to 2013, Janece took her son to 15 therapists and medical professionals and to 10 drug centers. </p>


<p>She knew her son was still using heroin during that time but didn’t confront him about it. </p>


<p>“I just wanted it all to go away,” she said.</p>


<p>Janece got tired of spending the time and money, and she eventually kicked Jonathan out.</p>


<p>He’s now serving a prison term for breaking into a car to steal change he saw in it, his mother said. She called the news of his arrest an answer to her prayers.</p>


<p>“I knew that if he was in prison, he was safe,” she said.</p>


<p>Meanwhile, Janece sought help for herself. She attended Narcotics Anonymous meetings before becoming involved with Parents of Addicted Loved-ones, attracted by the support offered by fellow participants. </p>


<p>Jonathan will be released during the summer of 2015, and Janece said she was already working on ways to help him succeed.</p>


<p>Janece said she’s no longer afraid to share her experiences with others. She urges others in her situation do to the same.</p>


<p>“Don’t be embarrassed! You’d be surprised of how many people there are in your situation,” she said. “It was just like an epidemic in the neighborhood.”</p>


<h3>Debra’s story</h3>

<p>Debra, a stay-at-home mom from Peoria, was at Parents of Addicted Loved-ones because of a 37-year-old daughter who is addicted to heroin. She declined to share her daughter’s name.</p>


<p>“I was shocked and heartbroken that my beautiful daughter had developed farther and farther into hardcore substance abuse drugs,” she said.</p>


<p>She describes her daughter as an intuitive, bright girl who did well in school. At college, her daughter partied a lot and experimented with drugs.</p>


<p>“Her personality is geared towards having fun and instant gratification,” Debra said. “She doesn’t like pain — physical or emotional.”</p>

<p>Debra said she and her husband became aware of their daughter’s addiction to alcohol and prescription drugs when she was in her early 30s. In late 2013 they discovered that her addiction had progressed to meth and heroin.</p>

<p>“When I found out about her heroin use, I remember thinking that all the Alcoholics Anonymous literature was correct,” Debra said. “The addiction is a progressive disease.”</p>

<p>The daughter was able to get into a 30-day rehab facility shortly after, but she was kicked out just two days before completing the program and began using again almost immediately, Debra said.</p>

<p>“She kept trying to get into other facilities, but there was always something that came up where she couldn’t make the required phone calls, or complete the intake forms,” Debra said.</p>

<p>The daughter has a son who is being raised by his father, Debra said. Meanwhile, addiction cost her daughter the right to visit the child and led to her getting evicted from her apartment.</p>


<p>Encounters with her daughter were contentious. She would often accuse her parents of giving her a bad childhood and tell them they were almost abusive, Debra said. </p>


<p>“Her appearance was altered. She looked like the stereotypical crack user — stringy hair, melting eye make-up, wasted body frame. But she was surprisingly coherent and sometimes funny,” Debra said. “Another time she was constantly off-track, off-topic, very distracted and sometimes either argumentative, combative or strung-out, tired and sleepy.”</p>


<p>The situation strained Debra’s marriage because she and her husband would disagree about how much help to provide.</p>


<p>“She was good at playing the guilt card, especially with me.” Debra said. “She knew and used my weakness as a mother, and had me doubting practically everything I did when raising her.”</p>

<p>Debra and her husband decided to seek help themselves, a search that led them to Parents of Addicted Loved-ones.</p>


<p>“It was mostly a self-preservation decision,” Debra said. “We knew we couldn’t continue to be a part of her drug-filled life and had to enforce some boundaries.”</p>

<p>Debra said the support group has helped her tell everyone in the family about her daughter’s addiction.</p>

<p>“It was not easy to talk about for a long time. We felt embarrassed,” she said. “I get the impression that most people still think heroin addicts are homeless scumbags who choose to live that way.”</p>

<p>Debra said her daughter was finally able to enter a rehab this past summer and had finished more than 90 days as of mid-November. She told Debra that she wanted to complete another three months at the facility.</p>

<p>As a parent of a heroin addict, Debra said people should know that heroin doesn’t play favorites.</p>

<p>“The heartbreak is real and devastating,” she said. “It’s a constant overwhelming grief that is always present.”</p>

<h3>Lorrie’s story</h3>


<p>Lorrie, who lives in Peoria, describes her son Justin as a good-looking, well-rounded kid who had lots of friends and excelled in football. At least that’s how she remembers him before he became addicted to opiates his senior year in high school.</p>

<p>Justin started experimenting with marijuana his junior year, and Lorrie and her husband tried grounding him, taking away his car keys and disciplining him in other ways. They didn’t realize that Justin was taking Percocet until he had been addicted for a year.</p>

<p>“He was good at hiding it at first.” Lorrie said. “It wasn’t until he depleted his $2,000 savings account in a period of months that we knew there was a problem.”</p>

<p>At 17, Justin had become a detached because of his drug addiction, his mom said.</p>

<p>“He lost his ambition for school,” Lorrie said. “He was only going because I was driving him to school.”</p>

<p>With his parents’ help, Justin was able to graduate from high school. He promised his parents that he would sober up, but after he graduated they started finding tin foil squares with black lines running down them, evidence that he had started smoking heroin.</p>

<p>Lorrie didn’t understand why her son would choose to turn to heroin. He came from a close-knit extended family.</p>

<p>“It was devastating to find out, to all of us. ‘How? How can it happen to our family?’ I thought, ‘He has charm, he has good looks, why would choose that?’” she said. “Then the guilt set in. What could we have done sooner? You go through a great escalation of emotions; it’s incredible.”</p>

<p>At that moment, Lorrie and her husband became desperate for information to help their son battle his addiction.</p>

<p>“We didn’t know where to start because we had zero exposure on anything to do with drugs in our family,” she said. “Anything we found out about was through word of mouth.”</p>

<p>Lorrie and her husband tried to motivate Justin to stay sober and gave him random drug tests bought in bulk while he lived at home and attended community college. After two months, he dropped out and they realized he was using again.</p>


<p>They let him stay, however, even when he put his fist through a wall while high.</p>

<p>“We were enabling him without knowing it. At that time we didn’t know what he needed,” Lorrie said. “He would give us a clean drug test one month, then not. It was a vicious cycle of us afraid to kick him out.”</p>

<p>The tension and stress, along with fear of finding him dead at home, led Lorrie and her husband to ask Justin to leave.</p>

<p>“It was torture asking him to leave,” Lorrie said through tears. “You love your kids more than anything in the world. It’s the hardest thing you could do.”</p>

<p>As she looks back now, Lorrie said she realizes it was something that needed to happen.</p>

<p>“We were providing him with a safe, little cozy home where he didn’t have to go out and face the world. Here we thought that we were being loving and helping him,” Lorrie said.</p>


<p>Justin, now 20, was two months sober as of mid-November, doing volunteer work and attending Narcotics Anonymous, but not before spending time in jail for shoplifting and making two failed trips to rehab, his mother said. In the meantime, Lorrie and her husband found Parents of Addicted Loved-ones.</p>


<p>It was fear of death that finally turned the tide and got Justin to complete rehab, Lorrie said.</p>


<p>“Someone in the house he was staying in died and he feared he would be next,” she said.</p>

<p>Lorrie urges others to become involved and get educated about rehab.</p>


<p>“It’s just a total epidemic in the community we live in,” she said. “We were just idiots because we had no idea what this was.”</p>





