---
layout: story
permalink: /for-one-couple-staying-sober-is-the-key-to-their-relationship/
title: "For one couple, staying sober is the key to their relationship"
credit: "Sean Logan"
date: "Jan. 13, 2015"
---

<p>Seconds after the call from her heroin dealer comes in, 21-year-old Dezarae jogs down the stairs of her Chandler apartment to pick up her dope.</p>

<p>Minutes later, she’s shooting up in her bathroom. </p>

<p>“It’s something that has like a grasp on me that I can’t explain — that I love, but I hate at the same time,” she says, “It’s like something that I’m always looking for, but always trying to get away from.”</p>

<p>She only does a little bit, she says, just enough to make her feel better. She’s trying to quit. It’s a Monday evening. Dezarae has been addicted to heroin since she was 16.</p>

<p>She says she’s going to start detoxing the next day. It doesn’t happen.</p>

{% include e-video.html video="116705472" caption="Dezarae, 21, and Paul, 25, became addicted to heroin when they were teenagers. They have been dating for about two years and have gone through repetitive stints of relapse and sobriety. At this point, they don't know which is stronger: their love for each other, or their love for heroin. Video by Sean Logan/Cronkite News" credit="Sean Logan" %}

<p>Like thousands of heroin addicts across Arizona, Dezarae says she wants to quit, but despite her efforts, she repeatedly has relapsed.</p>

{% include e-pin-hooked.html %}

<p>“It is like the worst thing that has ever, ever happened to me,” she says. “It is the hardest, most challenging, …. thing I’ve ever, ever had to deal with. And it is literally like the f—g devil.”</p>

<p>Her 25-year-old boyfriend Paul is an addict too. </p>


<p>The two went to the same rehabilitation program and met when they later were visiting as alumni. Both were in sober living houses. Paul had been sober for a lot longer at the time.</p>


<p>The two have been dating for almost two years and have gone through repetitive stints of getting sober. And repetitive stints of relapsing. Over an 11-week period, Cronkite News followed the couple’s efforts to get clean.</p>


<p>Dezarae says they wanted to stay sober, that they had feelings and emotions — things that heroin takes away with every relapse. But their lives are woven around their love of heroin as much as their love for each other. </p>


<p>And neither knows which love is stronger.</p>


{% include e-gallery.html uniqueid="heroin-love" %}

<h3>Dezarae</h3>


<p>Later in the week, Dezarae starts taking Suboxone, a drug that eases the severity of heroin withdrawals. But she says she still craves the dope.</p>


<p>As the loud afternoon traffic of Chandler Boulevard passes by, she smokes on her patio with her Chihuahua-Pomeranian puppy, Shiloh. She fidgets with her hands, rubs her palms together. Her legs are restless and she yawns. She checks her phone a lot — three other addicts have called her today, but she didn’t answer. </p>


<p>The drug she’s dubbed the devil coaxes her to succumb.</p>

<p>“I take it like minute by minute, because… I have three and a half hours until my mom gets here,” she says. “That’s what? Four episodes on Netflix… And it’s like, if I get high — well OK, what the f--k am I gonna do?”</p>


<p>She’s going to spend the weekend with her mother. A few hours later though, just before her mom arrives, she uses.</p>


<p>The next week, Dezarae goes to a 12-step recovery meeting and gets a sponsor, another recovering addict to help her. She breaks the needle off her syringe so she can’t use it anymore. She watches movies and episodes of “Sons of Anarchy” in her free time — anything that will keep her mind away from the “horrible romance,” which is how she refers to her heroin addiction.</p>


<p>She tosses her needle and tourniquets into a dumpster outside her apartment. She can’t even recall the number of times she’s done the same thing before and regretted it, only to have Paul retrieve them from the trash.</p>


<p>She says she hasn’t had this many consecutive days without heroin in what she thinks is a year.</p>


<p>For Dezarae, addiction started like many other addicts: smoking marijuana and drinking as a teenager, and then getting into pills. She started doing Percocets and Ecstasy at 15, then heroin at about 16.</p>

<p>She had a different boyfriend, who didn’t tell her it was heroin until after she smoked it.</p>

<p>“And I just remember being like, ‘What the hell was that?’” she said.</p>

<p>She distinctly remembers what it tasted like: barbecue sauce.</p>

<p>Later that night, she would find out that what she inhaled was dope.</p>

<p>“Well, what’s dope?” she asked. “And he said it was heroin… it’s ‘black.’”</p>


<h3>Paul</h3>


<p>It’s a Saturday and Paul is hunched on the curb outside Dezarae’s apartment, waiting for her to get home from paying her rent. Paul, who has been doing odd jobs like construction with some recovered addicts he knows, says he became addicted to opiates when he was 19 and later moved to Chandler from Delaware to get sober.</p>


<p>After she gets home, they go out to smoke on the patio and argue about addiction.</p>


<p>He claims he’s been clean from heroin for almost two weeks now. </p>


<p>“Addiction and alcoholism run rampant throughout both sides of my family,” Paul says. “But I feel like at one point or another, I wasn’t an addict, I wasn’t an alcoholic. But I used and used and used, and something different happened in my head.”</p>

<p>Dezarae compares addiction to a disease like cancer.</p>


<p>“So you have cancer, you do chemo, you do radiation, you have surgery, whatever, and you’re in… what is it called?” Dezarae asks.</p>

<p>“Remission,” Paul says.</p>

<p>“Remission,” she repeats. “You’re in remission from cancer. I’m in remission from…” and together they say “heroin.” I may go back to that… my disease may … come out again,” she says.</p>

<p>Paul interrupts: “I’m saying … after enough usage, something snaps,” Paul says. “Something just happens to your brain and it’s like, from that point forward, people are addicts.”</p>

<p>A couple of days after their conversation, Paul goes to work at a demolition spot with one of his friends. After finishing for the day, they pick up money for some of the scrap metal, get food and go back to the sober living house where they both live.</p>


<p>But Paul remembers something: His winter clothes at Dezarae’s apartment. His old work jacket. The jacket he used to wear at the job he lost because he used heroin. </p>


<p>The jacket with the pocket that still has a bag of dope, right where he left it months ago.</p>


<p>He fixates on getting high. He goes to Dezarae’s apartment, gets the heroin and grabs a needle hidden underneath his birth certificate and other papers in a box in the closet. </p>


<p>He runs back outside, goes into the car and shoots up.</p>

<p>Now, he has to leave the sober living house. So he’ll have to stay with Dezarae.</p>


<h3>Paul and Dezarae</h3>


<p>The next day, while Dezarae goes to a 12-step meeting, Paul walks to a Circle K for cigarettes. Outside the store, Paul runs into someone he knows - the man who took his old job, where he made $12.50 an hour. The man tells Paul he just got his six-month chip, signifying six months of sobriety.</p>


<p>“I’ll pick up a 24-hours at some point, over the next day or so,” Paul tells him.</p>


<p>The man asks what he’s recovering from.</p>


<p>“Heroin,” Paul says.</p>


<p>“Heroin? Yeah, same here,” the man says.</p>


<p>Their exchange is nonchalant for a conversation about heroin addiction, almost as if it’s second-nature to them. That’s because it is.</p>


<p>“I wanna live life very simple, and just … hold it together,” he says. “I’m … tired of losing people. Losing friends, losing jobs. Pretty soon, I’ll … lose my girlfriend if I don’t … keep it together.”</p>


<p>Back at the apartment, he calls his sponsor, who doesn’t answer the phone.</p>


<p>“I could be getting high right now, and he would never know.”</p>


<p>John texts him: “At a meditation meeting. I’ll call you right after.”</p>


<p>“Don’t bother; I’ll be dead by then,” Paul says, sarcastically.</p>


<p>John calls Paul back.</p>


<p>“You haven’t given up on me yet, right?” Paul asks.</p>


<p>“Of course not, bud,” John says.</p>


<p>“Are you ready to … fight, dude?” Paul asks. “Because I need some help.”</p>


<p>He knows he needs to get back to a structured recovery program — and away for now from Dezarae, who so far has stayed sober.</p>


<p>“We definitely, definitely need to be separate at this point, especially in the early stages,” he says. “We can grow without one another for a second, because that’s the only way it’s gonna work, is if we both have a support system outside of each other.”</p>


<p>Two days later, Paul goes to a 12-step recovery meeting in Tempe. After the meeting, Paul helps break down tables and talks with Gonzalo Ardavin, the CEO and president of his sober living house. </p>


<p>“I’ve talked to the guys and they’re OK with me moving back in, but … I don’t wanna go against something you say or something you want,” Paul says.</p>


<p>Gonzalo asks when was the last time he used.</p>


<p>“Yesterday,” Paul says.</p>


<p>“You can’t come back until you test clean, so you’re not gonna test clean,” Gonzalo says.</p>


<p>Gonzalo asks him where he is planning on sleeping for the night.</p>


<p>“I would just go back to the (Dezarae’s) apartment,” he says.</p>


<p>“To get high again?” Gonzalo asks. “Paul, you’re gonna fricken die, dude.”</p>


<p>Gonzalo helps Paul arrange to stay with his friend Devin, who has been sober for more than a year.</p>


<p>“Paul, you screw this up — this is it,” Gonzalo says.</p>


<h3>Forty-five minutes later</h3>


<p>Paul’s hair is unkempt, his eyes droopy. His face and arms are sweaty. He nods off and snaps his fingers. The bump in the crook of his right arm is still red from the injection.</p>


<p>He’s in a bathroom at another recovery meeting in Tempe. It was his last chance to get high before getting sober, Paul says.</p>


<p>“It’s not like anything that these guys would’ve said or did wouldn’t have (sic) stopped me from getting high,” he says. “As soon as I had my mind set on it, that was it.”</p>


<p>Devin is in the bathroom with him and asks how much heroin he has left.</p>


<p>“Probably a little bit less than a half gram,” he says.</p>


<p>Paul finds the twisted bag of dope in his pocket when Devin tells him to give it to him. He holds it out, but pulls it back when Devin reaches to take it from him.</p>


<p>“I’m gonna do a shot,” Paul says. “Is that OK, or no?”</p>


<p>“Do you wanna sleep on the street tonight, or what are you doing?” Devin asks him.</p>


<p>“If you want my help, you can give me your heroin right now and you’ve got somewhere to sleep,” he says. “Take a fuckin shot man, you can figure it out on your own, dude.”</p>


<p>Paul looks at the bag of dope, twisting it with his fingers. He sighs and reluctantly hands it to Devin, who flushes it.</p>


<p>Rounds of applause echo down the hall from the room full of recovering addicts as Paul washes his hands and fixes his hair.</p>


<p>Later, Paul kneels on Devin’s living room floor and says a prayer. He talks to his sponsor and Dezarae on the phone, but he doesn’t tell her what happened earlier.</p>


<p>He believes they’ll be OK.</p>


<p>“I don’t wanna be with anybody that does heroin,” he says. “And I don’t wanna be with someone if I’m still using, because I’m not the greatest person when I’m getting high.”</p>


<p>“I wanna be the type of friend that my friends deserve; I wanna be the son that my mom deserves; I wanna be the boyfriend that my girlfriend deserves… If there’s no action behind my words, I’m not gonna change.”</p>


<h3>The End</h3>


<p>Dezarae so far is still sober. She has a car now and work’s going well. She says she’s happy. Happier than while she was using, and excited to find herself again.</p>


<p>“I’ve tried to get sober many times and it’s tough, you know? Sometimes it works and sometimes it doesn’t,” she says. “I think relapse is definitely a necessary part of anyone’s story.</p>


<p>“He was there for me when I was at my worst, you know? So I’m there for him, but I don’t think we’ll ever have like what we did before.”</p>


<p>“And I think I’ve come to terms with that and accepted that like he has his own disease, you know what I mean? Like he has to do what he needs to do for him. I can’t make him be sober and he can’t make me be sober.”</p>


<p>“So I think finally this time it’s like alright, well I just need to do it for me… You do what you gotta do, you know what I mean? But I can’t … be a part of it anymore. And I think I’m at that point right now.”</p>


<p>Dezarae broke up with Paul not long after this final interview. Paul told Cronkite News Tuesday, Jan. 13, 2015 that he is back in a sober living house.</p>
