---
layout: story
permalink: /first-responders-hospitals-on-front-lines-of-arizonas-heroin-crisis/
title: "First responders, hospitals on front lines of Arizona’s heroin crisis"
credit: "Lauren Loftus and Carlene Reyes"
date: "Jan. 13, 2015"
hassoundcite: true
jumbocredit: Lauren Loftus
jumbo: hospitals-banner
---

<p>When Brooke Marcus came to from her last heroin overdose, she was surrounded by paramedics. </p>


<p>It was July in Phoenix. She had collapsed onto searing asphalt. The paramedics had brought her back to life, but Marcus was angry.</p>


<p>They had ruined her high. </p>

{% include e-pin-hooked.html %}

<p>She also was scared, but not because she came so close to death. </p>

{% include e-floatfix.html %} 

<p>“I remember being in an absolute panic because I didn’t have any money,” she said. “My thoughts were, ‘How am I going to get more dope?’” </p>


<p>The 46-year-old remembers paying someone $10 to inject her with heroin that afternoon in 2010. </p>


<p>She was holding on to a chain-link fence behind a restaurant on Van Buren Street and knew immediately she was overdosing. </p>


<p>“I remember I had to hang onto the fence because it got me instantaneously,” she said. “You get a moment of clarity right before you lose consciousness where you automatically know you’ve done too much. You try to pull yourself back and you can’t.”</p>


<p>Paramedics took her to St. Joseph’s Hospital and Medical Center <span class="soundcite" data-url="http://cronkitenews.asu.edu/assets/images/14/11/21-brooke_soundcite1.mp3" data-start="0" data-end="9000">despite her protests</span>.</p>


<p>Marcus was there for about 10 minutes before she walked back into the heat in search of her next fix. </p>


<h3>Going too far</h3>

{% include e-sidevideo.html video="116102253" caption="Brooke Marcus says she found that some medical professionals treated her overdoses as a hassle. Video by Lauren Loftus and Carlene Reyes/Cronkite News" paneltitle="ARIZONA’S DRUG DILEMMA: HOSPITALS AND FIRST RESPONDERS" %}
<p>An overdose occurs when a person takes too much of a drug, or a combination of drugs, for the body to process. </p>


<p>Heroin users are particularly prone to overdosing because their drug of choice is usually mixed with unknown substances, making it difficult to know the purity. A single dose with a higher concentration of heroin can be dangerous for those who usually take lower concentrations.</p>


<p>Heroin is a highly addictive narcotic opioid that is synthesized from the painkiller morphine and causes a euphoric high when ingested, snorted, smoked or injected.</p>

{% include e-floatfix.html %} 

<p>Janet Backers, a registered nurse and director of the emergency department at Tempe St. Luke’s Hospital, said heroin users never know exactly what they’re getting.</p>

<p>“It’s being cut with other medications. Substances like codeine. Substances like meth,” she said. “It’s also being mixed with over-the-counter medications, alcohol and prescription medications.” </p>


<p>Heroin converts to morphine in the brain and binds to cells known as opioid receptors. These control respiration, among other things. When a user overdoses, the body forgets to breathe properly or at all. </p>


<p>A Cronkite News analysis of public records from the 2009-2013 Arizona Hospital Discharge Data Set, which is gathered by the Arizona Department of Health Services’ Bureau of Public Health Statistics, shows there were 2,050 heroin overdoses reported in Arizona during that period. Overdose cases have gone up each year, from 277 in 2009 to 562 in 2013, the analysis found.</p>

{% include e-sideimage.html image="hospitals-becker.jpg" caption="Janet Backers, a registered nurse and emergency room director at Tempe St. Luke’s Hospital, says she’s seen an increase in heroin overdose cases over the past several years. Video screenshot by Erin Patrick O’Connor/Cronkite News" %}

<p>RJ Horton, a recovering addict and student at Arizona State University, overdosed on heroin five times in four months. </p>


<p>A 20-year-old from Scottsdale with a penchant for Converse sneakers, Horton said he first became addicted to prescription painkillers at 16 after a sports injury. </p>

{% include e-floatfix.html %} 

<p>He later discovered that it took a lot less heroin to produce a high than prescription pills. After smoking it during his first semester at ASU, a friend persuaded him to shoot it.</p>


<p>“I saw someone was doing it,” he said. “They were like, ‘If you’re going to do drugs, this is the only way to do it. It’s more efficient.’”</p>


<p>Injecting heroin produced a more intense, quicker high than <span class="soundcite" data-url="http://cronkitenews.asu.edu/assets/images/14/11/21-rj_soundcite1.mp3" data-start="0" data-end="9000">he had experienced.</span></p>


<p>“It honestly feels like God’s just cradling you. You’re just OK,” he said, laughing. “My whole life, I’ve tried to chase that high, and I happened to find it in heroin.” </p>


<p>But that feeling didn’t last long. </p>


<p>“Everything’s OK at the time, but as soon as it wears off you’re miserable again.”</p>

{% include e-sidevideo.html video="116102255" caption="RJ Horton explains his outlook when he was addicted to heroin. Video by Lauren Loftus and Carlene Reyes/Cronkite News" paneltitle="ARIZONA’S DRUG DILEMMA: HOSPITALS AND FIRST RESPONDERS" %}

<p>Heroin users build their tolerance quickly, so they need more of it to produce the same euphoric high. </p>


<p>Not knowing what the heroin is cut with, coupled with the fact that users build up tolerance and need more of the drug to get high, means overdoses can happen at any time, especially when a user injects it. </p>


<p>“You’re really playing Russian roulette every time you shoot up,” Horton said. </p>


<p>Three times when he overdosed, Horton came back on his own. The last couple of times, he needed medical intervention.</p>


<p>“It feels like you’re getting stabbed with a bunch of needles all over,” he said. “And then you just kind of pass out.”</p>

{% include e-floatfix.html %} 

<h3>The paramedics</h3>


<p>Between 2009 and 2013, there were 1,240 narcotic overdose cases in Maricopa County, or a rate of nearly 31 per 100,000 people, according to the Cronkite News analysis of state data.</p>


<p>Unconsciousness and shallow breathing are the telltale signs of a narcotic overdose.</p>


<p>Capt. Robb Anders, a paramedic with Tempe Fire Department, said firefighters use an “unconscious protocol” when they respond to a suspected overdose.</p>


<p>“We would go up and <span class="soundcite" data-url="http://cronkitenews.asu.edu/assets/images/14/11/21-robb_soundcites1.mp3" data-start="0" data-end="19000">assess his breathing,</span> open his airway,” he said. “Is he blue? We look at the eyes. Your pupils have a very reactive response, or lack of response, to that narcotic.”</p>


<p> And it all happens in a matter of seconds.</p>


{% include e-sidevideo.html video="116102254" caption="Capt. Robb Anders, a paramedic, and Deputy Chief Darrell Duty describe responding to overdose cases with the Tempe Fire Department. Video by Lauren Loftus and Carlene Reyes/Cronkite News" paneltitle="ARIZONA’S DRUG DILEMMA: HOSPITALS AND FIRST RESPONDERS" %}

<p>On a suspected overdose call in Tempe, at least two paramedics in a fire engine plus an ambulance with emergency medical technicians are dispatched. According to Anders, their average response time is four and a half minutes. </p>


<p>Once on scene, they work quickly, and their speed is mirrored in their best line of defense: Narcan. </p>


<p>The brand name for nalaxone, Narcan is an opiate blocker that can help the body breathe again. When administered via nasal spray or injection, Narcan triggers immediate withdrawal. </p>


<p>Tempe Fire Deputy Chief Darrell Duty said the drug only works in reversing narcotic overdoses. </p>


<p>“Narcan basically binds to the receptors in the brain, and it won’t allow the heroin to bind to those receptors,” he said. “So that person’s high goes away immediately as soon as the drug takes effect.”</p>


<p>Narcan is often considered a kind of miracle drug, bringing back overdose victims from the brink of death. But if a person doesn’t get it soon enough, Captain Anders said there’s little paramedics can do.</p>


<p>“Unfortunately, we don’t get them back,” he said. “They’ve been found too late … their brain hasn’t had enough oxygen.”</p>


<p>The spontaneous withdrawal can ignite different reactions in those who are overdosing, including becoming physically violent or violently ill. </p>


<p>Horton said he remembers being very confused when paramedics injected him with Narcan the last time he overdosed a year ago. </p>

{% include e-floatfix.html %} 

<p>“Your whole body is rebooting itself. Kind of like a computer when you start it up,” he said. “It puts you into instant withdrawals.”</p>


<p>Symptoms of withdrawal from narcotics include vomiting, chills, body pain and insomnia. </p>


<p>According to Deputy Chief Duty, it’s understandable that the person who was just saved shows little to no gratitude. </p>


<p>“If you can imagine, just put yourself in that person’s position — you’re basically in a euphoric state, and then the next thing you know there’s a bunch of people around you, poking you with needles and holding you down,” he said. “Some people would react violently to that.”</p>


<p>Brooke Marcus, who has overdosed at least five times, said withdrawal is extremely painful.</p>

{% include e-sideimage.html image="hospitals-narcan.jpg" caption="Capt. Robb Anders, a paramedic with the Tempe Fire Department, holds vials of Narcan, the brand name of naloxone. When administered to people who have overdosed on opiates, Narcan triggers immediate withdrawal and can save their lives. Photo by Lauren Loftus/Cronkite News" %}

<p>“It feels like you’re going to die,” she said. “Imagine the flu magnified by 50.”</p>


<p>That withdrawal mimics what happens to the body when a heroin user voluntarily detoxes, except a Narcan withdrawal is unexpected and unwanted. According to Marcus, when overdosing users are forced into withdrawal, all they can think about is getting more heroin.</p>


<p>“When you get Narcan, you’re sick but you know if you just go get another $10 worth of heroin, you’ll be fine,” she said. “You can fix it that quick.”</p>


<p>But it didn’t matter how badly she needed it. Arizona emergency response protocol is to transfer every overdose case to the hospital.</p>


<h3>The hospital</h3>


<p>Narcan may bring addicts back from the brink of a lethal overdose, but it’s not a cure-all.</p>


<p>According to Dr. Richard Rosenthal, emergency room director at Tucson Medical Center, the effects of Narcan can wear off before the heroin does, meaning it’s possible to relapse into an overdose.</p>


<p>“Narcan lasts for maybe a half hour to an hour and (a heroin high) has got a few hours or even four or five hours,” he said. </p>


<p>That’s why Rosenthal said the primary goal of emergency room staff is to keep overdose patients in the hospital as long as possible to monitor respiration and cardiac function. </p>


<p>“Then we try to work on the social aspects of it, trying to get them into some kind of program,” he said.</p>


<p>At Tempe St. Luke’s Hospital, Janet Backers said she’s seen an increase in narcotic overdoses in the past several years.</p>


<p>According to the Cronkite News analysis of state data, Tempe St. Luke’s had the state’s fourth-highest number of admissions for heroin overdoses between 2009 and 2013, treating more than 115 people.</p>


<p>“It’s a small community,” said Backers, noting the hospital’s proximity to ASU’s Tempe campus. “There’s really only one health care system within Tempe proper.”</p>


<p>Once overdose patients are stable, she said, staff will encourage them to seek further treatment. However, it’s rarely something an addict wants to hear.</p>


<p>“You’re not going to treat someone that <span class="soundcite" data-url="http://cronkitenews.asu.edu/assets/images/14/11/21-janetbackers_soundcite1.mp3" data-start="0" data-end="15000">doesn’t want to be treated</span>,” Backers said.</p>


<p>Almost all heroin overdose cases in Arizona survive if they make it to the hospital, but a majority of them leave without seeking further treatment. </p>


<p>According to the Cronkite News analysis of state data, 89 percent of all overdoses between 2009 and 2013 were discharged to self-care or left against medical advisement. </p>


<p>Chip Coffey, director of outpatient services at St. Luke’s Behavioral Health Services, said he rarely encounters heroin addicts who are ready to get help on their own immediately after an overdose.</p>


<p>“There is this Superman or Wonder Woman complex about how impervious they are to death,” he said. “On the other side, you get ones who know they’ve almost died. Maybe this is their fourth or fifth time overdosing and what they’ve done is they just give up.”</p>

{% include e-floatfix.html %} 

<h3>Back home</h3>


<p>RJ Horton said his parents tried forcing him to get clean, but it took <span class="soundcite" data-url="http://cronkitenews.asu.edu/assets/images/14/11/21-rj_soundcite2.mp3" data-start="0" data-end="14000">a friend overdosing and dying</span> for him to seek treatment on his own terms.</p>


<p>“I can’t do this anymore,” he said. “This was my moment of clarity. I truly wanted to be sober, and I was tired of living in misery.” </p>


<p>Late in 2014, Horton was four months clean and living in a halfway house in Phoenix with other recovering addicts.</p>


<p>“Today I get my ‘shot of dope’ in other things,” he said. </p>
{% include e-sideimage.html image="hospitals-RJ.jpg" caption="A recovering heroin addict, RJ Horton, 20, first became addicted to prescription painkillers after a sports injury at 16. He now lives at Casa Milagra, a halfway house in Phoenix. Photo by Lauren Loftus/Cronkite News" %}


<p>He’s dedicated to school, he exercises regularly and he spends most Sundays going to Cardinals games with his dad, things that he said help him stay clean.</p>


<p>Brooke Marcus said she never had an “aha” moment. After years of supporting her habits through prostitution, she grew tired of her routine. </p>


<p>“There was no real motivating factor other than the fact that I didn’t want to prostitute myself for $60 to get through the day anymore,” she said. </p>


<p>She’s relapsed several times over the years but said she’s doing everything she can to stay clean this time around. The horror of detoxing is a big motivation for staying off heroin. </p>


<p>“I’m not 21 years old. Getting money and hustling is a lot different,” she said. “<span class="soundcite" data-url="http://cronkitenews.asu.edu/assets/images/14/11/21-brooke_souncite2.mp3" data-start="0" data-end="14000">I’m too old for it</span>. I don’t want to do it anymore.”</p>












