---
layout: story
permalink: /overdose-deaths-on-the-rise-across-arizona-and-the-nation/
title: "Overdose deaths on the rise across Arizona and the nation"
credit: "Hunter Marrow and Erin Patrick O’Connor"
date: "Jan. 13, 2015"
---
<p>Logan Spude lay on the floor covered with a sheet, his body still warm, even as paramedics declared him dead at 4:33 a.m. His pockets held a wallet and a can of Grizzly Long cut tobacco. His black sneakers rested where he left them, right by the front door.</p>

<p>Just hours after leaving the Verde Valley Guidance Clinic the afternoon before, Spude relapsed by shooting up heroin in the parking lot of a local Clarkdale Wal-Mart, where he and an acquaintance had just purchased a 10-pack of syringes, some spoons and water.</p>

<p>Early the next morning, too high to get back to his sober living home, he fell asleep on his friend’s floor and never woke.</p>

<p>Spude had tried to stop his addiction multiple times. He was 26.</p>

{% include e-pin-hooked.html %}

{% include e-bigimage.html image="OD-Deaths-Logan_01.jpg" caption="Logan Spude, 26, died of a heroin overdose after repeated relapses. From 2010 to 2013, drug deaths topped the number of motor vehicle deaths in Arizona with 1,106 drug deaths to 711 motor vehicle deaths in 2010 and 1,200 to 770 in 2013, according to yearly reports from the Arizona Department of Health Services. Photo courtesy Barbara Spude." %}

<p>“Drugs have never been discussed in this town. Ever. Ever. It’s pretty much a ‘no see, no talk,’” his mother Barbara Spude said. “Only when Logan died did I have nine moms, because I was counting them … nine moms come to me and tell me that their children were addicted to heroin and they didn’t know what they were going to do.”</p>


<p>At its worst, the life of a heroin addict is deadly and unforgiving. From 2010 to 2013, drug deaths topped even the number of motor vehicle deaths in Arizona with 1,106 drug deaths compared to 711 motor vehicle deaths in 2010 and 1,200 to 770 in 2013, according to yearly reports from the Arizona Department of Health Services.</p>

<p>Although these numbers represent all drug deaths and not just those that are heroin related, a report by the Substance Abuse and Mental Health Services Administration (SAMHSA) shows people aged 12 to 49 who had used prescription pain relievers non-medically were 19 times more likely to have initiated heroin use recently than others in that age group.</p>

<p>“We have seen an increase [in heroin deaths] and that’s really why we addressed it in our prescription drug initiative, because prescription drugs are obviously tied to heroin rates and consequences,” said Kelly Charbonneau, the substance abuse grant coordinator for the Arizona Department of Health Services.</p>

<p>Doug Coleman, Special Agent in Charge of the Drug Enforcement Administration Phoenix Division, also attributes much of the heroin problem to the abuse of prescription pain medications.</p>

<p>“The main reason for that is the prescription drugs that are abused the most are the opiate based prescription drugs; the oxycontins, the oxycodones, the hydrocodones,” Coleman said. “We’re seeing a switch over to the heroin because … getting the pills has become not cost effective and the flooding of the market with the heroin is leading to decreased prices of heroin because there’s more of that commodity on the market.” </p>

<p>Logan Spude first began abusing alcohol as a teenager, his mother said, after his brother Ryan died in a car accident. He began smoking marijuana at 16, abusing prescription drugs at 17 and then eventually heroin at 21.</p>

<p>“He was 14 [years old] and that was devastating,” Barbara Spude said. “That was his [Logan’s] older brother.</p>

<p>“That really, really affected him and maybe that had something to do with a lot of the young adults that do get into heroin, and maybe there’s some deep down issues in families and maybe we need to be looking at that instead of just focusing on the heroin,” Barbara Spude later added.</p>

<p>Logan had been clean for four months, his mother said. Court documents corroborate Logan’s struggle, as he went in and out of relapse at least twice in 2012 and 2013. She said he had started using his connections to help other addicts. </p>

{% include e-floatfix.html %}

<p>“He was starting to mentor other heroin users,” his mother Barbara Spude said. “He had a young girl named Brittany Lynn. He was starting to mentor her about heroin and get her off. They were working on it together.”</p>

<p>She also died only a few months after Logan Spude from what the Yavapai Medical Examiner’s Office says was a methamphetamine overdose.</p>

<p>“They were becoming buddies and she looked up to him because he was older; she was 21,” Barbara Spude said. “She and Logan were really, really close and it [Logan’s death] was a little more than she could handle.”</p>


<p>The National Survey on Drug Use and Health places the average age of the typical heroin user in the range of 18 to 25.</p>

<p>“It’s alarming for me to watch this happen because I know what addiction does and I know that adults aren’t capable of handling addiction,” Coleman said. “Seventeen, 18, 19-year-old kids certainly have no chance of handling addiction if they go down that path.” </p>

<p>Logan was in drug court the day he died for a previous charge of possession of drug paraphernalia.</p>

{% include e-sideimage.html image="OD-Deaths-Logan_02.jpg" caption="Logan Spude, 26, died of a heroin overdose after repeated relapses. Logan is shown here with his mother, Barbara. Photo courtesy Barbara Spude." %}

<p>“What I have seen in just the two years since I have been here is quite a rise in the amount of heroin that is being used in this community,” said Clarkdale Police Chief Randy Taylor, who responded to the 911 call the night Logan died.</p>
<p>“I don’t remember it wasn’t even on the radar when I got here, we didn’t even talk about heroin. We knew that heroin in the area was there but we never anticipated it being at the epidemic level that it is at now,” he said.</p>


<p>In October, the Centers for Disease Control reported that heroin overdose deaths across the country have increased from 2010 to 2012, specifically from 2,679 in 2011 to 3,635 in 2012. Arizona was one of the 28 states cited in the report for an increase in heroin deaths..</p>

<p>Natasha Gates, a 28-year-old mother, was among them. She died of a heroin overdose in a cold-water bath in October 2012.</p>

<p>Her mother Colette Williams said her daughter was a very talented person, as evidenced by her good grades and talent with the alto saxophone. She was overall a “pretty bubbly” person. </p>

<p>But she was having a hard time juggling her job and the responsibilities of raising her 5-year-old at the time, Blake.</p>

<p>“We knew that, yes it was a tough time,” Williams said. “I mean, she was hating work at the moment she, as I said, you know the whole family ideal just kind of got shut down and yes she was in pain and all of us repeatedly asked her please tell us what’s going on.”</p>

<p>According to Maricopa County court documents, Gates brought heroin to the house of one of her friends’ roommates to “get high. ” After smoking some, she asked him to inject her with more. </p>


<p>Passed out from the heroin, her friend and his roommate partially undressed her and put her in a bathtub filled with cold water to help suppress Natasha’s overdose symptoms. Both fell asleep and when they woke, she was dead, according to the records..</p>

<p>“Anguish, immediate anguish,” Williams said on how she felt when she found out about her daughter. “You know, I had the feeling that something bad was going to happen and I just never thought it would be Natasha that I’d be worrying about. She had been so great at raising her son, getting through work and finally living on her own and taking care of herself. Never thought this would happen to her.”</p>

<p>The state of Arizona is attempting to curb the increased heroin death rates at the source, according to Charbonneau of the state health department.</p>


<p>Charbonneau is helping coordinate better substance abuse policies designed to educate first responders, state-run clinics, etc. with the right know how to help treat opioid abusers like heroin.</p>


<p>“I think it was just so shocking for all of us in the manner that she had died and how it would’ve been so easy to save her life and I think it took all of us a long time to accept that fact; we were very angry as well as just broken-hearted,” said Williams.</p>