---
layout: story
permalink: /trend-of-over-prescribing-painkillers-a-path-to-heroin-addiction/
title: "Trend of over-prescribing painkillers a path to heroin addiction"
credit: "Alexa Armstrong"
date: "Jan. 13, 2015"
hassoundcite: true
---
<p>Stephanie Goodale says her heroin addiction started with unexplained back and kidney pain and a prescription for the painkiller Percocet.</p>


<p>After six months on the drug, she found herself taking double the dose due to built-up tolerance. She experienced nausea, headaches and other withdrawal symptoms when she tried to stop.</p>

<p>“I didn’t want to take them anymore and the doctors were like, ‘OK,we aren’t going to give you a refill,’” said Goodale, a Kingman resident and daughter of outgoing state Rep. Doris Goodale, R-Kingman.</p>


{% include e-pin-hooked.html %}

<p>Her troubles only multiplied, though. Soon Goodale was illegally buying and selling prescription painkillers, using other people to obtain the prescriptions from doctors who would write them.</p>


<p>“I was making good money and supporting my habit,” she said.</p>


<p>Goodale said she was taking more painkillers to curb her cravings and using some of the proceeds to get an cheaper high from heroin.</p>

<p>“It’s a horrible game,” she said.</p>


<p>Goodale was arrested in May 2012 and charged along with four others, including her brother Michael Goodale, with operating a heroin ring in nearby Golden Valley. Her brother received a three-year prison term, while Stephanie Goodale served six months of a 14-month sentence before her release under the state’s transition program for nonviolent drug offenders.</p>

<p>Her legal troubles weren’t over in late 2014. Less than a year after her release, Goodale was charged with possessing methamphetamine after a traffic stop. That case was pending. </p>


<p>Her mother, Doris Goodale, said her daughter’s addiction to painkillers was a slippery slope toward heroin.</p>

<p>“It was devastating, absolutely devastating,” she said.</p>

{% include e-floatfix.html %} 

<p>Doug Coleman, DEA special agent for Phoenix, said this is how it starts. Eighty percent of all heroin addicts nationally start out abusing prescription drugs, he said. </p>

<p>“The prescription drugs that are <span class="soundcite" data-url="http://cronkitenews.asu.edu/assets/images/14/11/heroin/1-dougcoleman1_mixdown.mp3" data-start="0" data-end="14000">abused the most</span> are the opiate-based prescription drugs, the OxyContins, the oxycodones, the hydrocodones,” he said. “Those are all opiate-based, and the opiate-based substitute for that is going to be heroin.”</p>


<h3>Pathway to heroin</h3>


<p>Opioids are drugs that affect areas of the brain controlling emotion in a way that diminishes the effects of pain. They include hydrocodone (offered by brands such as Vicodin), oxycodone (OxyContin, Percocet), morphine and codeine.</p>

{% include e-sideimage.html image="overprescribing_02.jpg" caption="Doug Coleman, DEA special agent for Phoenix, said 80 percent of all heroin addicts nationally start out abusing prescription drugs. Photo by Alex Armstrong/Cronkite News" %}

<p>Heroin is an opioid as well, acting on the same brain receptors and producing similar effects.</p>


<p>In 2012, health care providers wrote 259 million prescriptions for opioid painkillers, enough for every American adult to have a bottle of pills, <a href="http://www.cdc.gov/vitalsigns/opioid-prescribing/">according to the Centers for Disease Control and Prevention</a>.</p>


<p>A 2013 <a href="http://www.jhsph.edu/research/centers-and-institutes/center-for-drug-safety-and-effectiveness/about-us/faculty-and-staff/">study by Johns Hopkins University</a> found that the rate at which doctors prescribed opioid painkillers for patients seeking help with pain rose from 11.3 percent in 2000 to 19.6 percent in 2010. Meanwhile, the study found, prescriptions for other kinds of painkillers such as Acetaminophen and Ibuprofen remained relatively constant.</p>

<p>A recent <a href="http://www.cdc.gov/media/releases/2014/p1002-heroin-overdose.html">report by the CDC</a> said heroin overdose deaths doubled from 2010 to 2012 in 28 states including Arizona. It said two things appear to be driving the increase in heroin overdoses: widespread exposure to and addiction to prescription opioids and an increase in the heroin supply.</p>

<p>“Reducing inappropriate opioid prescribing remains a crucial public health strategy to address both prescription opioid and heroin overdoses,” CDC Director Tom Frieden said in a statement accompanying the report. “Addressing prescription opioid abuse by changing prescribing is likely to prevent heroin use in the long term.”</p>

<p>Since September 2012, at least 28 medical professionals in Arizona have been reprimanded by the Arizona Medical Board for over-prescribing narcotics. Officials there declined an interview request by Cronkite News.</p>

<p>According to <a href="http://www.cdc.gov/media/releases/2014/p0303-prescription-opioids.html">a CDC analysis</a>, most people who use prescription opioids for nonmedical reasons get them from friends or relatives and most prevention efforts have focused on this group, including prescription drug take-back events. But it said those considered at the highest risk of overdose, using prescription opioids non medically 200 or more days a year, get are as likely to get the drugs through their own prescriptions — 27 percent of the time — as they are to obtain them from friends and relatives.</p>


<p>Jason Robert, director of Arizona State University’s Lincoln Center for Applied Ethics, said over-prescribing happens for several reasons, but the most prevalent is compassion. </p>


<p>“You’ve got a patient that is in serious pain; there is no real objective measure of pain,” Robert said. </p>

<p>“In some cases a prescription for a strong narcotic is <span class="soundcite" data-url="http://cronkitenews.asu.edu/assets/images/14/11/heroin/1-ericroberts_mixdown.mp3" data-start="0" data-end="20000">exactly what’s in order</span>, but being too compassionate or overly compassionate or without paying attention potentially to the serious consequences of too many such strong narcotics, the patients end up being put at risk,” Robert said.</p>


<p>On the other hand, Robert, said overprescribing can result from patients taking advantage of those who write prescriptions.</p>


<p>“Patients can find ways to work the system by seeing more than one physician at the same time for prescriptions for the same drug,” he said.</p>

{% include e-floatfix.html %} 

<p>Rep. Eric Meyer, D-Paradise Valley, a former emergency room physician, said he has seen patients go to great lengths to get prescriptions.</p>


<p>“Every shift I would work we would <span class="soundcite" data-url="http://cronkitenews.asu.edu/assets/images/14/11/heroin/1-ericmeyer_mixdown.mp3" data-start="0" data-end="13000">see people coming in drug-seeking</span>, they’d complain of some pain or something because there is value if they can fill a prescription they can take that out on the street and sell it,” he said.</p>

<p>He said over-prescribing in Arizona has become an epidemic. </p>

<p>“There are people who are very good at what they do, and then there are always a few who are not as good, don’t take the time or are abusing prescribing to make a living,” Meyer said.</p>

<p>“We have a terrible problem, and we are just starting to address it,” he added.</p>

{% include e-sideimage.html image="overprescribing_03.jpg" caption="Rep. Eric Meyer, D-Paradise Valley, a former emergency room physician, said overprescribing has become an epidemic in Arizona. Photo by Vivian Padilla/Cronkite News" %}

<h3>A step</h3>


<p>In its suggestions of ways to reduce over-prescribing, the CDC has called for states to increase the use of programs that track prescriptions for painkillers and can help identify instances of over-prescribing. It said the systems work better when the information is available in real time and is used by all prescribers for all controlled substances.</p>

<p>For example, the CDC said, New York saw a 75 percent drop in patients who were seeing multiple sources to obtain the same drugs after it required prescribers to check the state’s drug-monitoring program before prescribing painkillers. Tennessee saw a 36 percent drop when it did the same thing, the agency reported.</p>


<p>One way Arizona is addressing abuse of prescription narcotics is making it more difficult for people to obtain prescriptions from more than one physician and to help physicians better understand the scale at which they are prescribing such drugs.</p>


<p>The Arizona Prescription Drug Misuse and Abuse Initiative, co-chaired by the Arizona Criminal Justice Commission, launched in 2012 in Yavapai County and has since been added in Pinal, Graham, Greenlee and Mohave counties.</p>


<p>It’s built around a database that has pharmacies report when they fill a prescription for sedatives, muscle relaxants and oxycodone, hydrocodone and other narcotic pain relievers. That data allows physicians to not only see whether their patients already have prescriptions for those drugs but how often they prescribe them compared to their peers.</p>


<p>A state law required the Arizona Board of Pharmacy to create a central system to track the prescribing, dispensing and consumption of those drugs.</p>


<p>“It gives them more data to give them an idea of where they stand,” said Dean Wright, director of the Controlled Substances Prescription Monitoring Program for the Arizona Board of Pharmacy, a partner in the initiative.</p>


<p>He said 40 percent of those prescribing such drugs in Yavapai County are now part of the program.</p>


<p>The initiative also educates pharmacists and prescribers about cases in which prescription narcotics should be used and offers classes for parents about keeping the drugs away from children and how to safely dispose of unused pills. It offers classes for law enforcement on how to spot people who may be selling or sharing prescription narcotics.</p>


<p>Meanwhile, many police and fire stations in the five counties have dropboxes allowing people to turn in unused prescription drugs. </p>


<p>Wright said that in participating counties physicians are writing 10 percent fewer prescriptions for the drugs monitored by the initiative.</p>


<p>“We can say, ‘OK, it’s working,’” he said. </p>


<p>Phil Stevenson, director of the Statistical Analysis Center at the Arizona Criminal Justice Commission, said that while the initiative has been successful there’s room for growth.</p>


<p>The commission received a $374,000 federal grant in September that is being used to expand the initiative to Maricopa County. </p>


<p><span class="soundcite" data-url="http://cronkitenews.asu.edu/assets/images/14/11/heroin/1-criminaljustice%20coalitionaudio%20phil_mixdown.mp3" data-start="0" data-end="18000">“I expect healthier kids</span>, healthier adults, healthier families, healthier communities,” he said. “But even more specifically, I am looking forward to reducing misuse and abuse among kids and amongst adults certainly in Maricopa County.”</p>


<p>Stevenson said a next step will be encouraging primary care physicians to refer patients to treatment centers should they see signs of addiction. </p>


<p>Suzanne Sisley, a private practice primary care physician in the Valley who specializes in opioid addiction, said the key to reversing the trend of over-prescribing lies with physicians.</p>


<p>“We have to start with educating the doctors about their responsibly to reduce the pain pill epidemic. They are in control of this; they can help restrict this,” she said. “The other thing is, I think, getting doctors to be aware there are treatments available.”</p>

<p>Gordon Block, clinical operations director for Crossroads Mission in Yuma, said Arizona needs to address a lack of communication between doctors and patients who take these highly addictive drugs. </p>


<p>“Educating not only the patients but educating the physicians and that there has to be some sort of coordination of care, so should the person be addicted they should not jump from physicians to get more drugs they are seeking,” he said.</p>


<h3>Next steps</h3>


<p>State Sen. Kelli Ward, R-Lake Havasu City, a physician who authored four bills last session aimed at curbing prescription drug abuse, said those who write prescriptions need better information.</p>


<p>“We need to treat people with pain issues but also get rid of the people who are abusing,” Ward said. </p>


<p>Only one of the bills became law: a measure requiring the Arizona State Board of Pharmacy to release data from the Controlled Substances Prescription Monitoring Program to someone designated by a prescriber or someone authorized to dispense drugs.</p>


<p>One of her bills would have required health care providers contracted with the Arizona Health Care Cost Containment System to step in if a patient receives 10 or more prescriptions for controlled substances over the span of three months. Contractors also would have had to to direct cases of excessive use of controlled substances to the AHCCCS medical director. </p>


<p>Another would have required doctors and pharmacists working with AHCCCS patients to check the Controlled Substances Prescription Monitoring Program database to see if patients in line for prescriptions have been prescribed opioid drugs in the past, when they received them and who wrote the prescriptions.</p>


<p>Both of those bills won Senate approval but weren’t taken up by the House.</p>


<p>“I pin a lot of responsibility of the prescriber,” Ward said. “We have a tool and many providers don’t use it. There is an educational effort going on the state to encourage to use the system, but we are nowhere near where we need to be.”</p>


<p>She also proposed requiring AHCCCS contractors to ensure that members can’t use cash payments to circumvent oversight of controlled substance use. That bill wasn’t taken up in committee.</p>


<p>Another new law, based on a bill authored by Rep. Karen Fann, R-Prescott, establishes reporting requirements for physicians when workers’ compensation claims involve at least 30 days of opium-based narcotics.</p>


<p>Ward said she planned to continue seeking changes during the 2015 legislative session.</p>


<p>“My goal is to have less prescribers per patient, hold insurers accountable and keep the amount of pills prescribed down,” she said. </p>

{% include e-floatfix.html %} 

<p>Doris Goodale, who was to leave office in January, said she wants physicians required to provide treatment options when patients become addicted to painkillers.</p>


<p>“It’s kind of become … we don’t want to have pain so we take a pill,” she said. “It’s just a matter of weaning yourself off the medications.”</p>


<p>One way for the state to change that, Goodale said, is requiring those who prescribe narcotics to help patients stop using those medications in a safe way.</p>

<p>“Doctors should have a role in making sure their patients aren’t addicted when terminating treatment plans that include controlled substances,” she said.</p>

{% include e-sideimage.html image="overprescribing_01.jpg" caption="Outgoing state Rep. Doris Goodale, R-Kingman, shown in this February 2014 file photo, has two children who went to prison for operating a heroin ring. She said she wants Arizona physicians required to provide treatment options when patients become addicted to painkillers, something she calls a slippery slope to heroin addiction. Photo by Harmony Huskinson/Cronkite News" %}
