---
layout: story
permalink: /in-prescott-everybodys-hometown-150-programs-offer-treatment-to-addicts/
title: "In Prescott — “everybody’s hometown” — 150 programs offer treatment to addicts"
credit: "Jessica Boehm"
date: "Jan. 13, 2015"
jumbocredit: Jessica Boehm
jumbo: Prescott8
---

<p>PRESCOTT, Ariz. — With heroin use surging across Arizona, treatment facilities are expanding into residential communities here where narcotics officers estimate nearly 1,500 addicts move into the small city every three months.</p>


<p>City officials have registered 153 group homes and treatment programs in a community of just 40,000 people, which locals endearingly call “everybody’s hometown.” </p>


<p>Police also say property crime is on the rise as addicts steal to support their habit and property values are down as rehab houses pop up in Prescott neighborhoods.</p>


<p>Overdoses are up in Yavapai County and city officials say heroin addiction is beginning to infiltrate the Native community as the drug becomes easier to access. </p>

{% include e-pin-hooked.html %}

<p>But for some heroin addicts who have grown accustomed to the loneliness and isolation that comes along with addiction, the recovery community in Prescott is the only way they know to stay sober.</p>

{% include e-floatfix.html %}

<p>The Gurley Street Coffee shop, which sits just north of Whiskey Row, is one of the only places where twenty-somethings addicted to heroin and other drugs still feel welcomed. Out back behind Gurley Street Coffee, a rusted metal rail guides Drew Dailey down the concrete steps where he smokes.</p>


<p>Dailey’s first sobriety date was June 13, 2011, the day he took a one-way ticket from New York to Arizona. </p>


<p>Dailey, 20 at the time, met other young addicts who were wading their way through recovery successfully.</p>


<p>“I saw that they had that,” Dailey said. “They were OK. They had good lives and they didn’t have to get high today, which was really attractive to me at the time because I just came from being homeless; I had nothing.”</p>


<p>He graduated from a recovery program in Prescott and stayed in the city just long enough to pick up his two-year sobriety chip. Five days later, he was on his way back to New York.</p>


<p>But while working at an onion plant in Orange County, New York, a co-worker asked him if he could get him some crack. He did. He started dealing drugs all over upstate New York and eventually started using a slew of illicit drugs, including heroin.</p>

{% include e-sidevideo.html video="116099930" caption="Anna Weiler and Drew Dailey both moved across the country to Prescott, Arizona, for one reason: to kick their heroin addictions. Prescott, a city of just 40,000, is home to more than 100 drug treatment centers and sober living houses. Video by Jessica Boehm/Cronkite News" paneltitle="COMMUNITIES IN CRISIS: PRESCOTT" %}

<p>Today, back in Prescott, he admits that his first stint at rehab was flawed — the facility lacked structure and long-term goals. This time, he sought out the most difficult recovery program, and succeeded.</p>


<p>He now works for the same treatment center that helped him get clean. As both a patient and an employee in the rehabilitation industry, he says not all treatment is created equally.</p>

{% include e-floatfix.html %}

<p>“Some places around here are just in it for the money, I’ll just say it,” Dailey said. “Some places are interested in money and they don’t have much structure and they just kinda make the rules plain and simple so people enjoy themselves there and they don’t really get help.”</p>


<p>Prescott police also have noted issues at some treatment centers. </p>


<p>“We’ve even seen an increase of dealers being embedded in the rehab facilities either as clients or workers because it’s so readily available,” said John Hanna Jr., a narcotics detective with the Partners Against Narcotics Trafficking task force.</p>


<p>Hanna said his task force currently is investigating a rehab worker that is accused of giving out free samples of drugs to try to get patients readdicted.</p>

{% include e-sideimage.html image="Prescott16.jpg" caption="Drew Dailey stands at a lookout point in Prescott. Dailey now works at the same recovery program that helped him get sober in Prescott. Photo by Jessica Boehm/Cronkite News" %}

<p>A typical recovery home in Prescott is usually small and is located in the middle of residential neighborhoods. Halfway houses and treatment residences that don’t offer onsite medical care, called “community service agencies,” are not required to be licensed. </p>


<p>“Everyone is going to tell you they are great,” Dailey said. “I know a bunch of places that will even lie to get someone in the door. It’s really hard to tell.”</p>


<h3>Last chance</h3>


<p>It’s 6 p.m. on Friday night, which means Zander Tatum’s shift is finished at the Prescott Sonic. He weaves through his neighborhood to his house. He walked home — he has no car and a suspended driver’s license.</p>


<p>Tatum lives in a house atop a hill with two other recovering addicts. His own mother was so sure he would overdose and die, that she took out a life insurance policy on her son years ago.</p>

<p>“People like me don’t get better. We die with needles in our arms,” Tatum said.</p>


<p>Tatum checked into rehab for the first time on his 15th birthday. </p>


<p>In 2008, Tatum was hooked on Xanax and other prescription pills. A year later, he was doing percocets and oxycontin, opioids that helped him make an easy transition to heroin.</p>


<p>“Heroin’s cheaper and you start to throw some of your ideals and standards and all those things you said you’d never do out of the window,” Tatum said.</p>


<p>One day, he was dope sick and couldn’t find his normal prescription drug fix. A friend had heroin and he smoked it in an apartment in Peoria.</p>

{% include e-bigimage.html image="Prescott15.jpg" caption="Zander Tatum looks out over the city of Prescott. Tatum went into rehab for the first time on his 15th birthday. He attended several recovery programs in Phoenix before coming to Prescott in February. Photo by Jessica Boehm/Cronkite News" %}

<p>“I finally got to feel OK and it felt like someone had been holding my head under water my whole life and when I did heroin I got to take the first deep breath,” Tatum said.</p>


<p>In May of 2012, he finally got sober. It lasted 10 months.</p>


<p>In early 2013, Tatum was driving high on Arizona Loop 101 when he flipped his truck four times. He broke 15 bones and was in a coma for about two weeks. Doctors told his mother he wouldn’t wake up.</p>


<p>But he did. And so did his addiction.</p>


<p>While he was re-learning how to walk and recovering from multiple surgeries, he also was having heroin snuck into the hospital. He didn’t have much privacy, so he smoked in the bathroom.</p>


<p>He was arrested in the hospital for possession of narcotic drugs and paraphernalia. Doctors told him he had one last option: Go to Prescott.</p>

{% include e-floatfix.html %} 

<p>Before Tatum left for a Prescott treatment center, he stole a gun and stuffed it into his travel bag.</p>


<p>“I figured I’d give it a week so that everybody could say that I really tried one more time and then I was going to walk into the woods and blow my brains out,” Tatum said.</p>


<p>When he arrived, treatment workers searched his possessions and confiscated the gun. Tatum said he spent all six months at treatment and has stayed clean.</p>


<p>“It doesn’t sound like that big of a deal for most people, like good job, kid, you’re not sticking needles in your arm, good for you,” said Tatum, now 21. “ But I don’t know, for someone like me to never think that you were ever going to find a way out and really wanting to stop and not being able to. … I don’t think I can really put that into words.”</p>

{% include e-bigimage.html image="Prescott12.jpg" caption="Zander Tatum, left, and Drew Dailey talk atop a hill overlooking Prescott. Both men came to Prescott to overcome their heroin addictions. Photo by Jessica Boehm/Cronkite News" %}

<p>The community of addicts — he can’t even go to the grocery store or a coffee shop without running into multiple people in recovery — provides him with a sense of comfort and support.</p>


<p>“You have so many underdog stories of redemption here,” Tatum said. “So many people that came from the gutter that shouldn’t even be alive and we’re all here and you see them be happy and live purposeful lives.”</p>


<p>“My opinion’s probably biased, but I think it’s beautiful,” he said.</p>


<h3>Residential rehabilitation</h3>


<p>Experts say as many as 90 out of every 100 heroin addicts relapse and when they relapse, they get kicked out of their treatment homes and onto the streets of Prescott.</p>


<p>“Their family’s no longer supporting them financially, they have no place to stay, and if you have a $200-a-day heroin habit with no income, you have to find some way to provide that,” Hanna said.</p>


<p>Organized crime and home burglaries have shot up in the last five years, according to Hanna. </p>


<p>“In fact in my neighborhood, it’s a private subdivision, we’ve had a rehab house spring up,” Hanna said. “I’ve definitely from a personal standpoint seen a definite change in my area.”</p>


<p>Prescott City Councilman Charlie Arnold said he receives frequent complaints about the impact group homes have on single-family neighborhoods. Arnold said that Prescott has always had several large treatment facilities, but that the influx of group homes in residential areas came in the last 24-to-36 months.</p>


<p>“The main concern surrounding the recovery community is the reality and perception that neighborhoods are being overrun by homes housing people in recovery,” Arnold said.</p>


<p>The concerns drove the City Council to pass an ordinance in 2013, that changed the definition of “community residences” from eight unrelated people to six. Community residences do not need to be rezoned and can exist in any neighborhood. The ordinance also created a quarter-mile buffer zone to prevent clustering of group homes and facilities.</p>

{% include e-floatfix.html %} 

<p>Heroin also is proliferating the Yavapai County legal system.</p>


<p>Just over a year ago, a group of prosecutors came to Yavapai County Attorney Sheila Polk concerned with the number of repeat heroin abusers they were charging.</p>


<p>During a baseline heroin study through the Yavapai County Attorney’s Office, they found that in a two-week period, during which 66 felony cases were charged, eight of those cases involved heroin.</p>


<p>“It shocked me that we had that many cases that either the person was being charged with heroin use, sales or the crime they committed had some connection to heroin,” Polk said. </p>


<p>Many of the people sent to Prescott are from across the United States, creating another problem for both the heroin user and law enforcement.</p>

{% include e-sideimage.html image="Prescott4.jpg" caption="The Yavapai County Courthouse marks the middle of downtown Prescott. Citywide events are held at the park surrounding the courthouse. Photo by Jessica Boehm/Cronkite News" %}

<p>Heroin in Prescott comes directly from Phoenix, after being smuggled across the Mexican border. The further heroin travels from the border, the less potent it becomes as dealers cut the product everytime it changes hands, bulking it up with other substances so they can make a larger profit.</p>


<p>“If they’re, say, a quarter-gram-a-day user, they’re used to using heroin that’s at 30 or 40 percent potency, and when they come to Arizona and decide to relapse they’re using an 80 percent potent drug which causes an overdose,” Hanna said.</p>


<h3>Families of addiction</h3>


<p>Five years ago, Anna Weiler attended a funeral of a friend — a fellow heroin addict — in Prescott. Five days later, her heart stopped beating and she woke up in the hospital, still wearing the dress she had worn to the funeral.</p>


<p>Doctors had already pumped Narcan, a drug that blocks the effects of opioids, into her veins to stop the overdose. When she woke up, they were about to give her more to get rid of the heroin high completely.</p>

{% include e-bigimage.html image="Prescott1.jpg" caption="Anna Weiler sits in front of Cuppers Coffeehouse in Prescott. Weiler has been sober for five years and continues to work and participate in the recovery community in the city. Photo by Jessica Boehm/Cronkite News" %}

<p>“I actually said to them, ‘No. Don’t give me that because this is the last time I’m going to get high so I would really like to sit and enjoy it,’” Weiler said.</p>


<p>Weiler had been to treatment centers in Texas and Florida before being shipped to Prescott. Even then, treatment didn’t work for her. She went to a six-month recovery home, but struggled to stay sober the whole time.</p>


<p>It wasn’t until that day in the hospital that she decided to get clean. Instead of going back to treatment, she walked herself though the 12-step process she learned during her multiple stints in recovery homes.</p>


<p>Anna’s addiction was a progression since she was a teenager. First it was alcohol, then it was marijuana. The drugs got harder, the highs got harder to find, and eventually, she decided to try heroin.</p>


<p>“I knew immediately that it was the drug that I wanted to be doing,” Weiler said.</p>


<p>As soon as she turned 18, she started working at a strip club in Austin, Texas. All of her paychecks went to heroin.</p>


<p>“It was all of my routine,” she said. “My whole life revolved around it. It was as soon as I woke up, multiple times throughout the day, and it had to be the last thing I did before I went to bed.”</p>


<p>Before she turned 20 she was living with Mexican gang members in south Texas, who spent their days stealing, dealing and getting high.</p>


<p>“The crazy thing is that it was like a family,” Weiler said. “They really are good, nice people, they just have this horrific lifestyle.”</p>


<p>She’s five years sober now, and has a six-month-old baby, Sophia. She never left Prescott and works for a treatment program. She attributes her success to her new family of recovering addicts.</p>


<p>“I can’t even go to the grocery store without running into someone I know in recovery,” Weiler said.</p>




