---
layout: story
permalink: /young-white-suburban-plus-risk-taking-behavior-makes-getting-addicts-into-treatment-difficult/
title: "Young, white, suburban, plus risk-taking behavior makes getting addicts into treatment difficult"
credit: "Evonne Ermey"
date: "Jan. 13, 2015"
jumbocredit: Evonne Ermey
jumbo: rehab-banner
---
<p>On busy days, more than 200 methadone-seeking patients will materialize in the Southwest Behavioral Clinic courtyard in Phoenix.</p>


<p>If their drug screens show what they should — the absence of heroin or other illicit drugs — they’ll get their daily dose of medication</p>


<p>“They get really angry if you won’t dose them. I say, ‘Hate me if you want but let’s just hope it’s a good, long, healthy hate because we’re here to keep you alive. We’re not here to kill you,’” says Deborah Head taking a tug off of her electronic cigarette, a cloud of perfumed vapor hugging her computer.</p>

{% include e-pin-hooked.html %}

<p>One of three nurses caring for clients from behind the wrought-iron-laced window of the clinic’s dosing station, Head has been dispensing methadone at the clinic for 17 years.</p>

{% include e-gallery.html uniqueid="rehab" %}

<p>Head has been here long enough to remember when the clinic had 36 clients as opposed to hundreds and when heroin addiction was a predilection of the poor.</p>


<p>“It’s more of your middle class now than when I first came here,” says Head, “We had a huge amount of homeless, now it’s people from Scottsdale people from Mesa, people from out west. It’s really changed.”</p>


<p>A young man appears before the dosing window. He jokes about the Giants in the World Series. He sports a Simpsons shirt that has more wear than he does.</p>


<h3>The New Addicts</h3>


<p>Heroin, one of the heartiest strains of addiction, is experiencing a renaissance.</p>
<p>Fueled by easy access to opiate painkillers, a new generation of heroin addicts has emerged. They are young, white and suburban.</p>


<p>They occupy the backseats of minivans and the other side of the neighbor’s fence. They pursue their drug of choice with the vigor of children chasing an ice cream truck.</p>


<p>But the hallmarks of youth, risk taking and impulsive behavior, do not lend themselves to treatment.</p>


<p>“When we are young we are not as concerned with death and other such trifling things, so it’s difficult to bring younger patients into treatment and they’re more difficult to retain,” says Dr. Elias Robles-Sotelo, a psychologist and professor of addictive behaviors at Arizona State University.</p>


<p>For Arizona, a state that was recognized in 2010 as having the 6th highest overdose rate in the nation, the quest for effective treatment is even more urgent, experts say.</p>


<p>Even back in 2007 and 2008. the National Institute on Drug Abuse (NIDA) found that Phoenix was surpassed only by Detroit in increased heroin admission to treatment programs. </p>

{% include e-floatfix.html %} 


<p>Today, more demand has caused rehabilitation facilities to bloom across Arizona. A Google search turns up hundreds of listings for treatment centers. Aggregate sites compile rehab facilities by user review. Drop menus allow interested parties to define search terms: within 1,100 miles, inpatient or outpatient, price tag ranging from utterly poor to sky’s the limit.</p>


<p>But only 10 percent of addicts will navigate this labyrinth of options, says a recent report by Trust for America’s Health. Those that do seek treatment will enter through a revolving door.</p>


<p>The Substance Abuse and Mental Health Administration (SAMHSA), estimates that 27 percent of heroin addicts will check into treatment facilities five times or more.</p>


<h3>NIDA Goes to Washington</h3>


<p>America’s heroin affliction has not gone unnoticed by Washington. In May the National Institute of Drug Abuse (NIDA) appeared before the Senate to testify on the issue.</p>


<p>NIDA’s recommendation for treating heroin addiction relies heavily on medication assisted therapy, mainly methadone and buprenorphine.</p>

{% include e-sidevideo.html video="116102626" caption="As heroin destroyed the lives of these young addicts, they were each left searching for something bigger. Many surviving addicts continue to work their way through 12 step programs, which lead them to what they call a higher power. Video by Hannah Lawrence/Cronkite News" paneltitle="ARIZONA’S DRUG DILEMMA: FINDING HOPE WHILE ANTICIPATING DEATH" %}

<p>A long-term drug treatment option for heroin addicts, methadone and buprenorphine are shown to keep people in treatment longer, NIDA says. Staving off withdrawal symptoms and cravings, they allow users to focus on unlearning addictive behavior.</p>


<p>The problem, experts say, is that these medications mirror the affliction they’re meant to treat. Both drugs are opioid based and both drugs are highly addictive. For a field that has historically measured success in terms of abstinence, methadone and buprenorphine remain a controversial option.</p>


<p>In 2012, SAMHSA found that only 28 percent of treatment plans included opioid-assisted therapy and this number was a decline from the year before.</p>


<p>In its testimony before the Senate, NIDA conceded, “Stigma and negative attitudes persist among clinic staff and administrators … This leads to insufficient dosing or limitations on duration of use of these medications (when they are used at all), which often leads to treatment failure and the perception that the drugs are ineffective, further reinforcing the negative attitudes toward their use.”</p>


<p>While not as common as heroin overdoses, addicts also overdose on methadone: At least 360 addicts in Arizona overdosed on methadone from 2009 through 2013, according to a Cronkite News analysis of public records from the Arizona Hospital Discharge Data Set, gathered by the state Department of Health Services’ Bureau of Public Health.</p>

<h3>Minnesota 12-step</h3>


<p>Sandwiched in between compelling graduate testimonials on its website, counselors and clinic staff talk about what makes treatment at the Calvary Addiction Recovery Center work. From the computer monitor. Calvary therapist Jim Corrington tells potential patients “[Addiction] is the most treatable disease on the planet. We know exactly what people need to do to stay in recovery,”</p>


<p>What people do, at Calvary, does not include NIDA’s recommendation of opioid-assisted therapy.</p>


<p>Like the many clinics in the state, Arizona’s Calvary Addiction Recovery Center in Phoenix operates on the popular Minnesota 12-step model. It’s a 90-day regimen of detox, inpatient, intensive group therapy, education and 12-step involvement without methadone or buprenorphine maintenance. It operates on an abstinence model. </p>


<p>“When you’re in this field, this is the controversial topic, you know, what’s better?” says Seth Jenkins, Calvary’s outpatient director.</p>

{% include e-floatfix.html %} 

<p>For those in the field the choice falls between sobriety and harm reduction.</p>
<p>Jenkins describes harm reduction like this: “If a person is on Suboxone [buprenorphine most popular form] or methadone, if they do make the choice to use opiates, it won’t affect them in the same way and if they’re actually doing it like they’re supposed to, they won’t get high.</p>


<p>“There is a certain expectation that they will relapse and when they do, ‘we don’t want it to be so bad, we don’t want them to O.D. We don’t want them to go back to stealing mom’s wedding ring and shoplifting and stuff like that.’”</p>


<p>Jenkins describes abstinence like this: “The abstinence approach is based on the idea that, well, why are we just trading one addiction for another? Why are we trading one drug for another? The abstinence model is basically that you get clean and sober and you stay that way.</p>


<p>“That doesn’t mean relapse is not going to happen. It just means that when it happens, you reset, he said. “You reset your sobriety date, pick yourself up, dust yourself off and you get back at it.”</p>

{% include e-sideimage.html image="recovery-center_02.jpg" caption="Calvary Outpatient Director of Recovery Seth Jenkins sits at his desk. Photo by Evonne Ermey/Cronkite News" %}

<p>“There are pros and cons on both sides,” says Jenkins, “You really don’t see these two sides willing to agree on much, other than that ‘relapse rates are high.’”</p>


<p>At Calvary almost half of their patients are opiate addicts between the ages of 18 and 24, a group prone to relapse because of their age. </p>


<p>When Calvary comes across a chronic relapser, somebody who has sought treatment four times or more, they will refer them to either a long-term, inpatient facility or to a Suboxone maintenance program.</p>

{% include e-floatfix.html %} 

<p>As much as Cavalry would like to guide patients to abstinence, each relapse is a potential overdose, says Calvary Clinic Director Larry Solomon.</p>


<p>For Arizona Dr. Sue Sisley, such a death is a constantly nagging possibility. In the past 15 years she estimates she’s lost a dozen patients to overdose death. Most of those deaths, she says, were patients who thought they were stable enough to make the leap from Suboxone to abstinence.</p>


<p>“You know, I favor abstinence probably the most because I’ve seen so many people become dependent on methadone and Suboxone. I think [abstinence] is the optimal way,” says Sisley. “Sadly, I don’t think it’s realistic for most patients.”</p>

{% include e-sideimage.html image="recovery-center_03.jpg" caption="Calvary Addiction Recovery Director Larry Soloman works with young opiate addicts using the 12-step Minnesota model of abstinence. Photo by Evonne Ermey/Cronkite News" %}

<p>Sisley has three FDA-approved models of care for opiate addiction: Suboxone, methadone and Vivitrol and she finds them all disappointing.</p>


<p>In Sisley’s experience Vivitrol, an injection meant to block the effects of heroin and other opiates, makes patients sick. Methadone is addictive and can kill you. Suboxone, which is also addictive, is the medication that Sisley prescribes to her patients.</p>


<p>“As much as I want to promote abstinence, I also want to prevent overdose deaths,” says Sisley.</p>


<p>Sisley accepts that many of her patients will never taper off of Suboxone. She describes them as high-powered, high functioning business people, many of them lawyers who started taking opiate prescription drugs in law school.</p>


<p>“They can’t afford to be sick for weeks and weeks on end. If they had a specific timeline or something, like if they knew, ‘O.K. I’m just going to be sick for a week and then I’ll be normal again,’ but that’s not what happens with this illness. That’s why people can’t seem to deal with abstinence,” says Sisley.</p>


<p>Of the medications recommended by NIDA in their Senate testimony, buprenorphine in its popular form, Suboxone, has become increasingly popular.</p>


<p>As a partial opioid, it combines buprenorphine with the opiate blocker, Naloxone, creating a ceiling effect, essentially satiating cravings without producing a high. In fact, if a patient injects heroin while taking Suboxone, they will go into immediate withdrawal.</p>


<p>This is why many find it more attractive than the next most available option, methadone.</p>


<h3>Methadone</h3>


<p>“I get two kinds of people if I tell them that I’m a methadone nurse,” says Janette Vidari, “I either get, oh, that’s just a substitute or that’s a wonderful thing that you do. And those are the only two reactions I ever get.</p>


<p>Vidari works alongside nurse Deborah Head at Southwest Behavioral clinic.  </p>


<p>On a single day in 2012, SAMHSA found that there were more than 5 thousand people receiving methadone treatment for opiate addiction in Arizona. Southwest Behavioral claims about 250 of that population.</p>


<p>methadone is not a new drug. The FDA approved it for the treatment of opioid addiction in the 1960’s. It’s been around long enough to gain a reputation.</p>


<p>“I don’t understand their attitude because first and foremost, with these addicts, they have to learn how to live a normal life and methadone helps them do that. It makes them socially functional,” says Head.</p>


<p>Like Suboxone, methadone squelches the cravings that cause drug-seeking behavior, but methadone can get you high and even kill you in large doses.</p>


<p>Experts say methadone may do what Suboxone cannot, treat heavy heroin users: IV users and long-term users. The same ceiling effect that keeps Suboxone users from getting high may also limit its effectiveness.</p>


<p>“… We we had one person that was using 6 grams of heroin a day, Suboxone wouldn’t even touch that,” says Head.</p>






