---
layout: story
permalink: /for-addicts-and-parents-first-steps-key-to-breaking-heroins-grip/
title: "For addicts and parents, first steps key to breaking heroin’s grip"
credit: "Alicia Canales"
date: "Jan. 13, 2015"
hassoundcite: true
---

<p>Breaking heroin addiction is a battle not just for the user but for his or her family and friends. It’s common knowledge that the most important step is addicts admitting they have a problem. But what should they do next? And what are the first steps for family and friends? </p>


<p>Laurie and Devon Hancock of Chandler share how an addict and his mother took the first steps toward getting help.</p>

{% include e-pin-hooked.html %}



{% include e-bigimage.html image="seeking-help.jpg" caption="Chandler residents Devon Hancock and his mother, Laurie Hancock, share the first steps they took as an addict and the parent of an addict to break the grip of heroin. Photo by Alicia Canales/Cronkite News" %}

<h3>The addict</h3>



<p>Devon Hancock said he wanted to try heroin because he liked the effects of other illicit drugs he took. At 18 years old, Hancock used heroin for the first time and fell into a two-and-a-half year addiction.</p>

<p><span class="soundcite" data-url="http://cronkitenews.asu.edu/assets/images/14/11/heroin/Devon1.mp3" data-start="0" data-end="8000">“In the grand scheme of things</span>, luckily not that long at all, but it definitely brought me to my knees very quickly,” he said.</p>


<p>His mother held an intervention and took away his car keys, but that didn’t stop him from using heroin. His mother took him to an assessment facility when she realized he hadn’t quit. Hancock went through some of the process but didn’t finish it.</p>


{% include e-infobox.html text="<a href=\"/resources-for-addicts-and-families/\">Resources for addicts and families</a>" %}


<p>Hancock said he wanted to quit heroin, but it wasn’t until he couldn’t afford his addiction anymore — after pawning his guitars, among other possessions — that he made the decision to get clean. </p>

<p>He turned to Google to search for detox facilities, and he turned to his mother for help. He also asked friends who had kicked heroin about how they got clean.</p>

<p>By doing this, Hancock followed what counselors and academics say is an essential first step toward breaking heroin’s grip: reaching out for help.</p>

<p>After admitting that he or she has a problem, the first thing an addict should do is sit with family and friends to figure out what resources are available, according to Shane Watson, communications coordinator for notMYkid, a Scottsdale-based education resource. Family and friends may know a facility or counselor, or they can help the addict find professional help.</p>

<p>“Often, you know, those <span class="soundcite" data-url="http://cronkitenews.asu.edu/assets/images/14/11/heroin/Shane1.mp3" data-start="0" data-end="9000">word-of-mouth referrals</span> can be a lot easier and a lot less intimidating than trying to open a phone book or going on Google or something like that,” said Watson, who is a former heroin addict.</p>

<p>Watson said it takes courage to approach family and friends and ask for help. Yet people can find that courage by realizing their lives won’t be better until they take a first step.</p>

<p>An addict should be cautious when deciding which family and friends to talk with, Watson said. If the addict knows a person would be judgmental, then he or she should reconsider talking with that person first.</p>

<p>The process doesn’t stop there. Addicts need to consider how they will address their need for help. Depending on the effect of their addiction on family and friends, an apology may be in order. Watson said addicts shouldn’t justify their actions or claim to be a victim during those conversations.</p>

<p><span class="soundcite" data-url="http://cronkitenews.asu.edu/assets/images/14/11/heroin/Shane2.mp3" data-start="0" data-end="8000">“Be direct. Be straightforward.</span> Be diplomatic,” Watson said. “Go into it fully owning up to, ‘I’m using this substance and that’s wrong for me.’”</p>

<p>The addict may decide to take the first step by searching on his or her own for professional help, as was the case with Devon Hancock, who said he wouldn’t have changed his first step.</p>

<p>“There’s a lot of <span class="soundcite" data-url="http://cronkitenews.asu.edu/assets/images/14/11/heroin/Devon2.mp3" data-start="0" data-end="20000">different ways to get sober</span>,” he said. “Like I don’t claim there’s only one way to get sober, but the biggest thing is reaching out and asking someone for help and not trying to internalize it as the notion that, ‘I’ve got this, you know, I know the answers, I know how to get sober,’ because, at least in my experience, that wasn’t the case.”</p>


<p>Denise Krupp, a counseling instructor at Grand Canyon University, said she’s worked with clients who have gone to high-quality facilities for treatment and clients who have suffered through withdrawal symptoms behind a Dumpster.</p>


<p>“The good thing is there’s not one right answer, especially with addiction,” Krupp said. “If you have more than one choice, if the first time doesn’t work out, you get to try something else.”</p>

<h3>The parent</h3>


<p>Laurie Hancock held an intervention with her son Devon when she realized he was using heroin. She took Devon to an assessment facility when she found out months later that he had lied about following through with his treatment. </p>


<p>As she waited for him at the facility recently, she called her friends and asked what to do. Someone suggested calling Leslie Bloom, CEO of DrugFreeAZKids.org.</p>

<p><span class="soundcite" data-url="http://cronkitenews.asu.edu/assets/images/14/11/heroin/Laurie1.mp3" data-start="0" data-end="15000">“They were just a huge help.</span> They also helped get me a counselor so that I could learn about the drug and what to do and how to deal with it and what’s enabling versus helping and learning the very fine line that’s there,” she said.</p>

<p>Hancock said that if she could do things differently she wouldn’t be naïve and trust her son as much as she did.</p>

<p><span class="soundcite" data-url="http://cronkitenews.asu.edu/assets/images/14/11/heroin/Laurie2.mp3" data-start="0" data-end="20000">“I believed him</span> when he said that they had quit, I believed him when he said, ‘Oh no, that guitar is in my apartment or no, so and so has that guitar’ when in fact they had all been pawned,” she said. “And I just believed him because he had always been a very honest kid and that’s what we did.”</p>

<p>Shane Watson, communications coordinator for notMYkid, said the first thing parents need to do is accept reality when they begin to suspect that a child is using heroin.</p>

<p>The family should then talk with a medical professional to help determine what to say, according to Watson. That professional can help a family decide on consequences, and the family can decide whether to have the professional with them during the intervention.</p>

<p>Parents should intervene even if the child doesn’t want to hear it, said Foster Olive, associate professor of psychology at Arizona State University.</p>

<p>“Obviously if the person is still a minor, then parents have the primary responsibility for the well-being of the child and should be proactive and talk to their own physicians and a counselor,” he said.</p>


<p>Watson said parents, or other friends and family, also need to be prepared to have an uncomfortable conversation, keeping in mind certain guidelines when addressing the addict, such as not being judgmental or blaming.</p>

<p><span class="soundcite" data-url="http://cronkitenews.asu.edu/assets/images/14/11/heroin/Shane3.mp3" data-start="0" data-end="19000">“Like I said, that addict</span>, chances are they’re already torn down. Chances are they already think very poorly of themselves,” Watson said. “What they need to hear from their family is: ‘This behavior cannot continue. You are not a bad person. You are a worthwhile person that I love. Your behavior has to change.’”</p>

<p>Daniel Nichols, a clinician at the Treatment Assessment Screening Center Inc., said parents and other relatives should also consider finding a support group for themselves.</p>

<p>“Even counseling for the family has been beneficial, going over with a licensed counselor, ‘What can we do in this situation? Am I helping or am I enabling?” Nichols said.</p>


<p>Laurie Hancock also encourages parents to also find a resource such as a support group to help them during their child’s recovery.</p>

<p>“I’d just say <span class="soundcite" data-url="http://cronkitenews.asu.edu/assets/images/14/11/heroin/Laurie3.mp3" data-start="0" data-end="12000">get something that works for you</span> and get something that you can dive into because you need to just jump in, you know, with both feet and get a hold of this monster,” she said.</p>


