---
layout: story
permalink: /heroins-road-to-arizona-tests-law-enforcement-feeds-a-growing-demand/
title: "Heroin’s road to Arizona tests law enforcement, feeds a growing demand"
credit: "Emilie Eaton"
date: "Jan. 13, 2015"
jumbo: banner-road-to-az
jumbocredit: Emilie Eaton
---
<p>NOGALES, Ariz. — The floor, the ceiling, the speakers, the seats. Even the gas tank.</p>


<p>As port director for the Customs and Border Protection port here, Guadalupe Ramirez has seen heroin smuggled into the United States in almost every place imaginable on a vehicle, not to mention the human body.</p>


<p>“I would challenge you to think of any place in a vehicle that you think we have not found narcotics, and I pretty much guarantee you we have found it,” he said.</p>
{% include e-pin-hooked.html %}
{% include e-floatfix.html %}

<p>Ramirez points to some colorful hilltop houses on the other side of the border fence, less than a mile away. Drug traffickers recruit people in those homes to act as spies, reporting whether a canine unit is working, if imaging equipment is on and how each officer works, he said. </p>

<p>This is the constantly changing nature of the drug trade. Traffickers will use any means to smuggle heroin and other drugs into the United States. Their routes and techniques are constantly adapting, and law enforcement agencies are forced to adapt as well.</p>

<p>Nogales is just one stop along a path of influence and ingenuity through which drug smugglers channel heroin from the coastal mountains of Sinaloa, Mexico, into Arizona and eventually to the rest of the United States. </p>



<p>The route often passes through Tucson, where heroin overdoses have surged since 2009. And through Pinal County, where deputies receive reports of fake emergencies trying to divert them from route used by smugglers.</p>


<p>It reaches Phoenix, where the FBI runs wiretaps to catch and dismantle drug trafficking organizations, and onto Interstate 10, where it is trafficked to communities throughout the United States.</p>

{% include e-sideimage.html image="road-to-az_02.jpg" caption="Guadalupe Ramirez, director of the Customs and Border Protection port in Nogales, said drug traffickers recruit people in homes on a hilltop in Mexico to act as spies, reporting whether a canine unit is working, if imaging equipment is on and how each officer works. Photo by Emilie Eaton/Cronkite News" credit="Emilie Eaton" %}

<p>At the end of this path is demand, particularly among teens and young adults who no longer view heroin as a street drug but as an alternative to costly prescription pills. In turn, Arizona has seen a dramatic increase in overdose deaths. </p>


<p>“The consumers in the United States have a hunger for that kind of narcotic,” Ramirez said. “It’s a shame because it’s such a devastating narcotic. It’s something that will ruin a young person’s life and devastate families.”</p>

{% include e-jumbotron.html img_slug="road-to-az_05" credit="Emilie Eaton" %}

<h3>Across the border</h3>

<p>In the late 1990s while living in Texas, Ramirez heard about a rash of deaths among young people, most of them high school students, who had overdosed on unusually potent heroin in the Dallas suburb of Plano. When Ramirez thinks about it today, he still can’t comprehend why they did it.</p>

<p>“These were young people,” he said. “When you look at Plano, Texas, it was a very affluent community. This is not like someone in the inner city (that) had challenges. These were children that had their whole lives in front of them.”</p>

{% include e-floatfix.html %}

<p>Now, as the man in charge of stopping the smuggling of drugs through the Nogales port and as a father himself, Ramirez said the effort to stop heroin trafficking through here is about doing what’s best for this country’s children.</p>


<p>“I can only imagine what a family would go through when they lose a child of any age, even someone in their 20s that has their whole lives ahead of them, because of these drugs that come into our country,” he said.</p>

<p>Ramirez has seen heroin seizures at the Nogales port of entry double from 125 kilograms in fiscal 2013 to 250 kilograms in fiscal 2014.</p>

<p>Those drugs likely came from the Mexican state of Sinaloa, which is known for its production of narcotics, and brought to Arizona by the Sinaloa cartel, Ramirez said.</p>


<p>Douglas Coleman, special agent in charge of the U.S. Drug and Enforcement Administration’s Phoenix Division, said the Sinaloa cartel is a multibillion-dollar enterprise that is extremely powerful.</p>

{% include e-sidevideo.html video="116099554" caption="Traffickers will use any means to smuggle heroin and other drugs into the United States. Their routes and techniques are constantly adapting, and law enforcement agencies are forced to adapt as well. Video by Emilie Eaton/Cronkite News" paneltitle="ROAD TO ARIZONA" %}


<p>“It’s probably the most powerful and ruthless criminal group in the world,” he said. “Their power is extensive, and their ability to move these products into the United States is vast.”</p>

<p>Thomas Pietschmann, a researcher for the United Nations Office on Drugs and Crime, said marijuana producers in Mexico have moved away from cannabis in recent years because of the legalization and regulation of marijuana in many U.S. states. They replaced marijuana fields with poppies, which are used to produce heroin and other opioids.</p>

<p>“The market prices have gone down, and so it’s less attractive for the Mexican cannabis producers and traffickers to produce the cannabis in the United States,” Pietschmann said.</p>

<p>Smugglers employ a variety of techniques to get heroin and other drugs into the United States. Ramirez said the most common is smuggling them in vehicles. He’s seen narcotics packed in a hollowed-out seat, in the gas tank, in the air conditioning vents and even in the car speakers.</p>

{% include e-floatfix.html %}

<p>“Literally anywhere you can imagine,” he said, “they have found a way to modify it and put the narcotics in there.”</p>

<p>Officers at the Nogales port use K-9 units, X-ray machines and other state-of-the-art equipment to detect narcotic shipments. But Ramirez said their first line of defense is an officer’s intuition — that gut feeling.</p>

<p>Many of the individuals caught smuggling drugs aren’t hardened criminals but cash-strapped individuals recruited by the cartels.</p>

<p>Jeremy Slack, a researcher studying the U.S.-Mexico border for the Social Science Research Council, said people in Sonora make between $6 and $8 a day, and the appeal of $1,500 for a week’s work is attractive.</p>


<p>And many don’t have a choice, Slack said. It’s common for a drug trafficker to show up at individuals’ houses and order them to drive a car loaded with drugs across the border. If they refuse, the smugglers threaten to kill them.</p>

{% include e-sideimage.html image="road-to-az_03.jpg" caption="Customs and Border Protection officers in Nogales intercepted a load of drugs in this altered Coca-Cola case after noticing that the bottles, which were attached to a board, didn’t jiggle or rattle. Photo by Emilie Eaton/Cronkite News" %}

<p>“I’ve heard it’s pretty common for people to come to your house and say, ‘Hey, I’m going to modify your car and you’re going to do this for us. You can take our money or we can kill you,’” he said.</p>

<p>Ramirez said officers once caught a 94-year-old woman with narcotics strapped to her body. Her son had persuaded her to smuggle the drugs, he said.</p>

<p>“That sticks in my mind because I can’t imagine anyone using their 94-year-old mom to try to smuggle narcotics into the United States,” Ramirez said. “It goes to show you that there’s no limit as to what they’ll do to bring the narcotics in.”</p>

{% include e-floatfix.html %}

<h3>The waypoint</h3>

<p>Chris Platt, a detective with the Anti-Smuggling Unit in the Pinal County Sheriff’s Office, parks his marked SUV next to an on-ramp and facing Interstate 8 just west of Casa Grande. He lowers his window and waves traffic around him as he spends several minutes watching intently for anything suspicious on the highway.</p>


<p>The drugs that make their way through the Nogales port often end up here or nearby on Interstate 10 on their way elsewhere. It’s the job of Platt and his colleagues to stop them.</p>

<p>“Once it gets to Phoenix, that’s kind of the apex where it’s going to be distributed from,” Platt said.</p>


<p>He spends a lot of his time stopping traffic and trying to stop drug or human smuggling in other ways. He knows what areas are primarily used by drug traffickers to transport or transfer drugs, as well as places where people carrying drugs on foot will take breaks. </p>

{% include e-sideimage.html image="road-to-az_04.jpg" caption="Chris Platt, a detective with the Anti-Smuggling Unit in the Pinal County Sheriff’s Office, inspects a wash that has been used by traffickers. Photo by Emilie Eaton/Cronkite News" %}

<p>Researchers and law enforcement officials say that a majority of the drugs that enter the U.S. from Mexico are smuggled by vehicle. But these days informants are telling Platt and other sheriff’s detectives that cartels have started concealing small packages of heroin within larger bundles of marijuana that are backpacked from the border. It’s another example of the constantly changing nature of the drug trade.</p>

<p>“We know they’re going to make changes,” Platt said. “Especially the more we get or the more our counterparts get, they’re going to change it up. We know that’s going to happen. All we can do is just try to get the intel we can on what they’re doing and try to adapt to it.”</p>


<p>Coleman, the DEA special agent, said agents have to change their methods regularly to keep up with the cartels. </p>


<p>“Law enforcement never stops any crime,” he said. “Our job is to investigate, arrest, prosecute and bring to justice those that violate the law.” </p>


<p>In Pinal County, drug traffickers sometimes will call 911 to report a fake emergency to divert law enforcement agencies from a route where they intend to smuggle drugs. But Platt knows what to look for: Is the caller making sense? Providing his or her name? Able to provide details about the incident?</p>

<p>If the caller doesn’t offer those details, Platt goes on high alert. While other deputies respond to the report, he may stick back and look for any suspicious behavior.</p>

<p>It’s situations like these that require Platt and other detectives on the Anti-Smuggling Unit to think on their feet and continually evolve.</p>


<p>Platt said there will never be a way to end heroin trafficking. But he said harsher punishments for users and traffickers could cut it down.</p>

<p>“As long as there’s a demand, it’s not going to stop,” he said. “The only thing we can do is try our best and try to keep the numbers down. That’s it.”</p>

<p>A little ways northwest of Interstate 8, Platt, carrying a rifle, climbed over a barbed-wire fence, clambered up a dirt hill and went into a wash.</p>

<p>Walking through this same area eight months ago, leftovers from smugglers were everywhere. Gallon-size water bottles, carpet shoes designed to conceal shoe prints and leftover burlap used to wrap narcotics littered the curving wash for about a quarter of a mile.</p>

<p>Some scraps remained, but it was mostly cleaned out. </p>


<p>“They’ve changed it up,” he said. “They’re using somewhere else.”</p>


<h3>A national plague</h3>


<p>Just up the road from Pinal County, in a secluded building in north Phoenix, yet another law enforcement agency works to stop the trafficking of heroin into Arizona and onto the rest of of the United States.</p>


<p>While most other law enforcement agencies are responsible for intercepting drugs traveling through Arizona, the FBI’s Phoenix Bureau is responsible for dismantling the cartels.</p>


<p>“We don’t focus on the drug itself,” said Ronald Baker, a supervisory special agent at the FBI. “We know the issues behind it. Our focus is on these transnational criminal organizations that manufacture, distribute and sell these kind of drugs.”</p>


<p>Baker supervises the FBI squad tasked with investigating criminal groups, conducting joint operations with other agencies and ultimately dismantling cartels. With FBI Director James Comey describing heroin as a plague in the U.S., stopping criminal organizations responsible for moving it through Arizona is a priority.</p>


<p>But FBI agents run into the same problem as Ramirez and Platt: Because the drug trade is so lucrative, cartels are constantly changing tactics, and it’s hard to keep up.</p>


<p>“If there’s been success by a particular law enforcement organization that stops maybe how things have been brought in through a certain area or port, then those criminal organizations are going to find another way around,” Baker said. </p>


<p>The FBI uses a variety of techniques to track and break up drug trafficking organizations. Agents will conduct wiretaps, work on interagency investigations and focus on dismantling smaller satellite groups.</p>


<p>“That affects the bigger group, the transnational organized crime group organization out of Mexico and other parts of the world,” Baker said.</p>


<p>Bruce Bagley, a professor at the University of Miami who has written about drug trafficking trends extensively, said law enforcement agencies will use every trick in the book to dismantle an organization. That includes squeezing informants, conducting electronic interdiction, wiretapping phones, following cellphones, patrolling airspace and tracking Internet use. </p>


<p>Because of drug trafficking organizations’ willingness to do absolutely anything to get narcotics into the United States, Bagley estimates that law enforcement agencies only stop 15 percent of the drugs brought into the U.S.</p>

<p>“The illicit profits are so high that they drive innovation, whereas the rewards that are received by law enforcement remain constant whether they increase or decrease their annual count or seizure numbers,” he said. “They’re simply not compensated in the same way. They work 9 to 5 or 8 to 5. The traffickers work 24 hours a day.”</p>


<p>Bagley said it’s important to focus on law enforcement and halting the flow of heroin but contends that resources would be better used to curb demand and for treatment and rehabilitation. He said the government should focus on vocational training, education, getting people to finish their high school degrees and ending jail time for nonviolent drug-related crimes.</p>


<p>“I have argued for a long time that much of this money is basically wasted,” Bagley said. </p>


<p>But Pietshcmann, with the U.N. Office on Drugs and Crime, said law enforcement can be effective. He pointed to Australia’s effort to dismantle heroin rings in 2001. </p>


<p>“Heroin consumption declined by about 80 percent in Australia. And the people dying by opioids in Australia has declined by 60 percent. And this has not changed since,” he said. “Thirteen years, and the heroin market has not recovered in Australia.”</p>


<p>The FBI’s Baker said it’s tough to determine the best way to combat the drug trade, describing it as a business model that’s going to evolve with supply and demand. </p>


<p>“The transnational organized criminal groups look at ways to evolve, to change with what we’re doing to stop them,” he said. “There is a constant evolution in combating the drug problem.”</p>
