---
layout: story
permalink: /breaking-the-cycle-of-addiction-isnt-easy-former-users-now-sponsors-can-be-key/
title: "Breaking the cycle of addiction isn’t easy — former users, now sponsors, can be key"
credit: "Brittany Ducksworth and Edward James Hernandez"
date: "Jan. 13, 2015"
---

{% include e-video.html video="116100422" caption="Ending heroin addiction usually can’t be done alone, as nearly all addicts who try quitting on their own wind up using again. In 12-step programs, former users serving as sponsors help guide addicts through recovery. Hear from three former heroin addicts who now serve as sponsors about their experiences and their role." credit="Brittany Ducksworth" %}

{% include e-pin-hooked-full.html %}