---
layout: story
permalink: /relentless-cycle-of-addiction-often-begins-in-teenage-years/
title: "Relentless cycle of addiction often begins in teenage years"
credit: "Sandy Balazic"
date: "Jan. 13, 2015"
---
<p>They lived in tattered boxes, abandoned cars and the back yards of dilapidated houses. </p>


<p>It didn’t matter. They were addicts in their teens and twenties. All they needed was heroin.</p>


<p>“I didn’t care about my family. I just really had no purpose.” said Blake Landry, 23, once a promising high school soccer star from Flagstaff who started heroin when she was 20. “I was just, ‘Well I’m going to be a heroin addict for the rest of my life and that’s how it is.’ ”</p>


<p>Leaving sports and school behind, she morphed, in her own words, from a ‘preppy girl’ to a ‘ghetto Barbie.’</p>
{% include e-pin-hooked.html %}

{% include e-bigimage.html image="teens_02.jpg" caption="At 16, Blake Landry started smoking marijuana, doing ‘shrooms’ and then methamphetamine. At 20, she was addicted to heroin, homeless and living out of a car with her boyfriend. Landry, now 23, has gone through recovery and writes songs that she performs in the Chapel at the Women's Changing Lives facility in Phoenix. Photo by Dominick DiFurio/Cronkite News"  %}

<p>Across Arizona, more teens and young adults are using heroin in what law enforcement and other experts say is an escalating cycle of hard-core drug abuse that often begins with pain pills and ends with heroin. According to a Cronkite School analysis of public records from the 2009-2013 Arizona Hospital Discharge Data Set, gathered by the state Department of Health Services’ Bureau of Public Health Statistics, more 20-to-25-year-olds have overdosed on heroin since 2009 than any other age group.</p>

<p>“Think about the cost to our society. Does that make America a better place if we turn our back to this and let it go crazy?” said Doug Coleman, special agent in charge of the U.S. Drug Enforcement Administration’s Phoenix division. “No, it doesn’t. Everything that we do has to be about the future of our country. Everything that we do has to be about, ‘Are we gonna be able to save these kids?’ ”</p>


<p>Twenty-one-year-old Clay Mosher of North Phoenix was addicted to heroin at 16. Dropping out of school in eighth grade, he started smoking marijuana at 13.</p>

<p> “I kind of went at it like an amusement park,” said Mosher. “Each drug is a different ride.”</p>


<p>At his worst, Mosher said he “was outside with a needle in my arm, sleeping in a box behind some building.”</p>


<p>“That’s the most shocking thing about this drug … it’s not the older generation that is doing it.” said Tempe Police Lt. and former narcotics officer Mike Pooley. “These are junior high, high school aged students, entry level college students that are looking at this drug thinking this is not that bad; but it so addictive, it so destructive and one of the most horrible drugs you could possibly put in your system.”</p>

{% include e-bigimage.html image="teens_04.jpg" caption="Twenty-one-year-old Clay Mosher of North Phoenix was addicted to heroin at 16. He now lives at the Phoenix Rescue Mission where he is going through drug rehabilitation. Photo by Dominick DiFurio/Cronkite News" %}

<p>Most of the dozens of heroin addicts interviewed by Cronkite News, said they either started on pain medications and moved to heroin or they abused a variety of different drugs before trying heroin. The drug is so powerful, addictive and euphoric, that no other high could compete with it.</p>


<p>Within six months of using heroin, Shannon Higgins, now 28, said, “I had lost my job … my car … my apartment. I’d lost all my belongings and I was sleeping in the backyard of an abandoned house.”</p>


<p>“I stole lots of money from my family” she says. “I broke into houses, I stole from friends, I got loans on cars…I stole money from people’s bank accounts…I did anything and everything I possibly could have … I was pathetic.”</p>


<p>Maricopa County Attorney Bill Montgomery says these cases are not unusual.</p>


<p>“Looking back over the last three years — what we noted is that the average heroin user we’re prosecuting is about 27-to-28 years old and we have seen a marked increase,” Montgomery said. “I think a couple years ago we had 280 cases, after that it was 279. In the most recent year, we had over 350, so it was about a 22 percent increase. That is a pretty significant increase.”</p>


<h3>Blake Landry</h3>


<p>At 16, Landry started smoking marijuana, doing ‘shrooms’ and then methamphetamine. At 20, she was addicted to heroin, homeless and living out of a car with her boyfriend. </p>


<p>To buy sacks of dope, she danced for men, hung out with gangs and sold her father’s wedding ring.</p>


<p>With “scabs all over my face, track marks all over my arm,” she said her mother would bring wipes to try and clean her up whenever she could.</p>


<p>Landry and her boyfriend were driving on East Shea Avenue in Phoenix when they were stopped by police in 2011. He was arrested for driving on a suspended license. </p>


<p>Police searched the vehicle and found marijuana on the floor under a seat. They also found a small jewelry box containing heroin. Landry admitted it was hers and was booked for possession.</p>

<h3>Clay Mosher</h3>


<p>Clay Mosher was 20 when he was charged with armed robbery. Desperate for a fix, he saw coins in the front seat of a parked car in Tempe. According to police reports, he grabbed the coins and when the car’s owner confronted him, attacked the man with a knife. Police found and arrested him on the Orbit community shuttle bus, where he was dumping the the coins and knife from his pockets onto the floor. </p>


<p>Police discovered he also had an outstanding warrant in Chandler for possession of prescription-only drugs, for which he admitted he had not been prescribed. He was sentenced to 10 years for armed robbery.</p>


<p>His prison sentence was reduced to five months, with three years probation. He came out of prison clean and was hired at a landscaping company. Within months, he started using heroin again.</p>


<p>“Being up 5 days on meth and heroin doesn’t really make you an ideal employee for landscaping,” Mosher says. “And so they caught on pretty quick. Got drug tested, got kicked out and had nowhere to go again.” </p>

<p>He started stealing and shoplifting. Having violated parole, he was back in jail. </p>


<p>“I thought about what that meant — giving my life to prison. Then when I get out, living on the streets, not having anybody except for heroin. And I didn’t want that for myself.”</p>


<p>He called his Intensive Probation Supervision officer and asked for help.</p>

<h3>Shannon Higgins</h3>


<p>Shannon Higgins was drinking with her alcoholic mother at the age of 12, she said. By the time she was 17, she had moved in with her father in what she called a more stable environment. She had a job at an aerospace company and at 22 and was living in her own apartment.</p>


<p>Then her mother moved in, offering to share her pain medications. Higgins scrambled from doctor to doctor getting more and more prescriptions to feed their addictions. When friends told her heroin was cheaper — she started shooting up until she lost everything she owned. Both she and her mother were living behind abandoned houses. </p>


<p>She started stealing and shoplifting, along with her 25-year-old drug-addicted boyfriend.</p>


<p>There was the Target store near the Deer Valley Towne Center where they picked off beauty items and a Wii controller. They also cut the tags off clothes and walked out. And they hit a nearby convenience store, where they were caught by police.</p>


<p>As part of plea agreement, she was ordered to enter a rehab facility.</p>


<p> “What we typically try to do with someone who does present as a substance abuser — let’s say that they’ve been arrested for possession of a drug — is we want to get them substance abuse treatment first and provide them with opportunities to basically demonstrate that they’re going to overcome that addiction, they’re going to follow through with treatment, and then they can avoid any additional criminal prosecution or adjudication,” Montgomery says.</p>


<p>Their cases were assigned to the Maricopa County’s drug court and they were sent to the Changing Lives Center and the Phoenix Rescue Mission for rehabilitation in central Phoenix.</p>


<p>Nicole Peña, director of public relations, says the mission and the center are part of the court program. Instead going directly to jail or prison, a person will have their sentence deferred if they can successfully complete rehabilitation.</p>


<p> “What we want to do is to bring the person back to court and show the progress that they’ve made in two months and three months, etc,” she said. </p>


<p>Higgins was sent to the women’s facility. The first time, she was in rehab for four months.</p>


<p>She shot up the same day she left.</p>


<p>“What we find is that most of the people who come to our campus, stay for 100 days. … We lose about 50 percent of our people at that 100 day mark,” Pena said. “Some of that is because they are only given probation that is only four months. … so they’re like, ‘OK, I’m done, I can leave.’”</p>


<p>“And we see a lot of them come back,” Peña said. “We find that people are really committed” if they can get past those first 100 days.”</p>


<p>Higgins eventually came back. It was addiction or prison. This time she stayed.</p>


<h3>Changing Lives Center</h3>


<p>The Changing Lives Center recommends being at the facility for at least a year.</p>


<p>“Our idea is that we really feel there is a big difference between clean or detoxing, which is usually a 30-day process to get the drugs out of your system and actually returning to society as a productive person,” Peña said, adding that the center has “about a 40 percent completion rate.”</p>

{% include e-bigimage.html image="teens_01.jpg" caption="Twenty-one-year-old Clay Mosher, left, sits on the couch with fellow recovering heroin addict Thomas Holm, at the Phoenix Rescue Mission where they both are going through drug rehabilitation. Photo by Dominick DiFurio/Cronkite News"  %}

<p>As the age of the drug abuser becomes younger and younger, its programs have changed.  </p>


<p>“When you have a 20-year-old, who’s dropped out of school, who has no education, no job skills coming to you for drug recovery, it’s not good enough to say ‘Oh, 30-days, Oh, 90-days, bye.’ ” Peña says. “We really have to pour into them and give them a skill, a profession, something that they can translate into the job markets, so they can actually go and be successful. Nothing worse in the world than kicking drugs and now what?” </p>


<p>Today, Blake Landry is 23 and writes songs that she performs in the Chapel at the Women’s Changing Lives facility in downtown Phoenix. </p>


<p>Shannon Higgins, now 28, started a cookie-baking business in the residential dining hall, where she and other women in the program have a website offering home-baked cookies. </p>


<p>Clay Mosher, 22, still is in treatment.</p>


<p><em>Cronkite News reporters Lauren Handley and Erin Patrick O’Connor contributed to this story.</em></p>
