---
layout: story
permalink: /proximity-to-border-helps-make-tucson-an-epicenter-of-arizonas-heroin-epidemic/
title: "Proximity to border helps make Tucson an epicenter of Arizona’s heroin epidemic"
credit: "Stephen Hamway"
date: "Jan. 13, 2015"
jumbo: tucson_02
jumbocredit: Elvina Nawaguna
---
<p>TUCSON — Laura Johnson found heroin relatively late in life. Though she had done cocaine in her 20s and had gotten hooked on pain pills after the birth of her first child, in her early 40s heroin grabbed her and held on like the other drugs hadn’t.</p>


<p>“The withdrawals from heroin make you just want to die,” Johnson said. “It’s like the worst flu you’ve ever experienced.”</p>


<p>Heroin cost the 51-year-old Johnson her house, her job as a paralegal and her relationships with her husband and daughter. She stole money from her employers and spent time in jail as a result.</p>
{% include e-pin-hooked.html %}

{% include e-floatfix.html %}

<p>But while the individual details of Johnson’s story are unique, they reflect a larger pattern of heroin use in Tucson, where Johnson moved in 1998.</p>


<p>“I grew up in the late ‘60s, and heroin was not common at that point,” Johnson said. “I never saw heroin before I moved to Tucson.”</p>



<p>The Drug Enforcement Administration’s National Drug Threat Assessment Survey for 2013 said the amount of heroin seized at the southwest border between the U.S. and Mexico had increased by 232 percent since 2008. As a result, it said, overdoses are on the rise due to younger people using the drug, varying levels of purity and inexperienced users switching from prescription opioid painkillers.</p>


<p>That’s playing out in Arizona’s second-largest city, a little more than an hour up Interstate 19 from the border.</p>


<p>According to a Cronkite News analysis of public records from the 2009-2013 Arizona Hospital Discharge Data Set, gathered by the Arizona Department of Health Services’ Bureau of Public Health Statistics, Pima County had an overdose rate almost twice as high as any other Arizona county. The five ZIP codes saw the most overdoses during that period were all in metropolitan Tucson, the analysis showed.</p>

{% include e-sideimage.html image="tucson_01.jpg" caption="Laura Johnson of Tucson said heroin grabbed her and held on like other drugs hadn’t. Photo courtesy Laura Johnson." %}

<p>Amelia Cramer, chief deputy for the Pima County Attorney’s Office, said that the trend may be intensifying. The county saw 248 drug convictions in the 2013-14 fiscal year, up from 155 the previous year.</p>


<p>“It shows that there’s more importation and more heroin use,” Cramer said.</p>


<p>Geography, transportation and increased demand each play a role in making Tucson one of the epicenters of the state’s heroin epidemic.</p>


<p>Dr. Mazda Shirazi, a medical toxicologist and the director of University of Arizona’s School of Pharmacy, said Tucson’s proximity to the border makes it a hub for Mexican heroin smugglers looking to drop off drugs for distribution around the western United States.</p>


<p>“It’s easy to distribute heroin to California, Texas and Colorado from Tucson,” Shirazi said. “Smugglers bring it to the largest community close to the border because it’s easier for them to disappear.”</p>


<p>He said the confluence of freeways and other transportation corridors makes it easier to distribute heroin after it arrives in Tucson but that increased demand for the drug means that a large portion stays in the city as well.</p>


<p>A rise in the use of opiate-based prescription painkillers such as Percocet or Oxycontin also contributes to the problem because they can lead to addiction, Shirazi said.</p>


<p>Those addicted to these drugs, which are also known as opioids, often switch over to heroin once the pain pills become too expensive.</p>


<p>“In the late ‘80s and early ‘90s doctors consistently under-prescribed pain medication,” he said. “And the pendulum sort of swung the other way after that.”</p>


<p>Though Johnson arrived in Tucson well before the recent heroin spike began, she said she fell into the same pattern of prescription drug addiction when she got hooked on pain pills following the birth of her children.</p>


<p>“My counselor traces back to when I was 15 and I had ankle surgery, and I liked the pain pills then,” Johnson said. “So I was always looking for that high.”</p>


<p>As she became more and more addicted to the prescription opioids, Johnson said she became adept at figuring out exactly which doctors were willing to provide them.</p>


<p>“I could walk into any doctor’s office I chose and I could get whatever I needed,” she said.</p>


<p>This pattern of use lasted about 15 years, before advances in technology allowed pharmacies to communicate with one another more effectively, making it harder for Johnson to keep her multiple pain pill prescriptions. Around that time, she discovered heroin.</p>


<p>Everything came to a head when Johnson was arrested for two felonies for drug possession near the end of 2013. After spending four days detoxing and entering her plea agreement on Christmas Day, she was placed behind bars in the Pima County Jail for three months.</p>


<p>In 2011, the Pima County Attorney’s Office began a program called the Drug Treatment Alternative to Prison, according to Amelia Cramer. The program, which claims to be the only one of its kind in Arizona, allows repeat non-violent criminals who are addicted to an illicit drug to go to a residential treatment program rather than prison in exchange for a guilty plea.</p>


<p>“If they fail, they’ll be sent to prison. If they succeed, they’ll still have that felony conviction on their record, but they won’t be sent to prison,” Cramer said.</p>


<p>Of the program’s 99 participants, three-quarters successfully completed their treatment programs, according to the county attorney’s website, which says that the cost to the state was less than half of what would have been required to incarcerate someone for the average sentence among the group.</p>

{% include e-jumbotron.html img_slug="tucson_04" credit="Stephen Hamway" %}

<p>Cramer said her office works with a number of different programs in Tucson. Johnson, a first-time offender, went through Pima County Drug Court rather than the Drug Treatment Alternative to Prison but ultimately ended up at the same place. In March 2013, Johnson was admitted to The Haven, one of the programs the county works with.</p>


<p>The Haven is one of many in-patient drug treatment programs in Tucson, but executive director Margaret Higgins said that it sets itself apart as the only program here that accepts only women.</p>


<p>“Many of our women have had terribly abusive relationships. They mature and get into relationships that are very negative,” Higgins said. “The program allows them to more deeply express their history.” </p>


<p>In addition, The Haven is one of just two treatment centers in Tucson where addicts are allowed to have young children living with them. Joyce Morgan, chief of clinical services at The Haven, said this policy helps the women in the program stay focused on their treatment rather than worrying about their kids being in harmful situations.</p>


<p>“We find that when they’re here with their children, the reason they want to get better is sitting right in front of them,” Morgan said.</p>


<p>Recovering addicts live on the property and take classes over the course of the 90-day program. </p>


<p>Natividad Cano, one of the counselors for The Haven, said the program has three 30-day phases: self-identification, in which the women learn about addiction and see how it affects them; growth, in which they create a plan for living a sober lifestyle after they graduate; and reintroduction to the community, in which they build funds and try to find work after the program ends.</p>


<p>Morgan said the treatment results have largely been positive. Heroin is a famously difficult drug to kick permanently, but she said that the program graduates around 70 percent of its members and uses aftercare programs like the one Johnson was admitted to after graduating.</p>


<p>“At The Haven, we watch a woman’s treatment process, and you can actually see the person that they used to be re-emerge, and they change in front of your eyes,” Morgan said.</p>

{% include e-floatfix.html %}

<p>Chelsea Gallagher-Campas, a recovering heroin addict who had been in the program for almost 60 days when interviewed, said she had already seen improvement after kicking her addiction.</p>


<p>“The one thing about The Haven is that it’s a family, this is your foundation,” Gallagher-Campas said. “I will walk out of here with coping skills and a new life, but I also know that when I have a breaking point and I need help, this is the place I’m going to run to.”</p>


<p>Prevention is a piece of the puzzle as well, and both private and public agencies in Tucson are looking for ways to prevent heroin addiction before people start using. </p>


<p>The University of Arizona’s Southwest Institute for Research on Women partnered with CODAC, a behavioral health program based in Tucson that focuses on drug prevention, to implement Step Forward II. The five-year program enrolls kids between the ages of 12 and 17 who don’t qualify for other health services to provide programming on sexual health and drug prevention topics including heroin. </p>

{% include e-sideimage.html image="tucson_03.jpg" caption="Chelsea Gallagher-Campas, a recovering heroin addict, said being at The Haven, a Tucson treatment center, has given her a foundation for recovery and a place to return when she faces setbacks. Photo by Stephen Hamway/Cronkite News" %}

<p>Claudia Powell, the program evaluator for Step Forward II, said that 4.5 percent of participants were opiate users.</p>


<p>“Opiates have become more of an issue in recent years, and we want to make sure that our program reflects those changes,” Powell said.</p>


<p>The program uses individual and group therapy sessions, and participants are asked about their previous 30-day substance abuse in addition to sexual health choices.</p>


<p>“We know that people who are abusing substances are more likely to make riskier sexual health decisions, so we want to take care of both halves of that,” Powell said.</p>


<p>Ultimately however, the UA’s Shirazi said that Tucson needs a multi-pronged strategy to better manage the heroin epidemic, one built around interdiction of drugs and treatment of heroin addiction and overdoses.</p>


<p>“We are a small state, and we are not a rich state,” Shirazi said. “Law enforcement and treatment centers do a great job with what they have, but they could always use more resources.”</p>


<p>Laura Johnson’s story didn’t end when she walked out of The Haven as a graduate in June 2014. She said she attends four to five support groups per week, and late in 2014 she received permission from her probation officer to look for housing that is not part of a halfway home. </p>


<p>She said the incentive of never having to go back to prison was enough to stay clean.</p>


<p>“You have to be honest about yourself and your issues,” Johnson said. “In the end, you only hurt yourself.”</p>
