---
layout: story
permalink: /yumas-heroin-problem-is-persistent-and-visible-the-result-of-life-on-the-border/
title: "Yuma’s heroin problem is persistent and visible — the result of life on the border"
credit: "Danielle Grobmeier"
date: "Jan. 13, 2015"
jumbo: Yuma-drophouse_02
jumbocredit: Danielle Grobmeier
---

<p>The last time Claudia Lugo slammed dope, she was dumped in a ditch and left for dead, like “trash,” she said. That night she was 38 years old, unsmiling and curly-haired, mascara smeared down to her cheeks, her face gaunt, her jaw hanging, her shirt red. But she didn’t die. </p>


<p>Nine years later, she’s 47 and lives in a house on 14th Avenue — a fixer-upper with lace-white curtains, mismatched furniture and a bookcase stocked with self-help books. </p>


<p>The house is a point of pride. She never thought she would have one. </p>


<p>“I didn’t want to die that way,” she said.</p>
{% include e-pin-hooked.html %}

{% include e-floatfix.html %}

<p>In Yuma, the promise of drugs is a given. Access to the San Luis Port of Entry and the Andrade Port of Entry promotes a street-trafficking culture that punctuates every block. Large loads will stay at stash houses in Yuma County and then distribute eastward, sometimes as far as Maryland. The rest of the drugs stay on the Yuma streets, where a robust and consistent heroin user-dealer network thrives. </p>

<p>With the accessibility and cheapness of heroin, it’s an easier, less-expensive fix than a round of doctor shopping for pain pills, because most of the addicts of Yuma are poor.</p>

<p>It’s where Lugo has lived her entire life. And if you drive her around the city, she’ll point at certain blocks and people walking on the street — all pieces of her former addiction. She’ll tell you about the trailer out of which she and her ex-boyfriend — now deceased after an overdose — sold drugs. Even now, just beyond her back porch, there are heroin dealers, she said.</p>

{% include e-bigimage.html image="Yuma-Lugo_01.jpg" caption="Claudia Lugo, 47, poses in her office at Crossroads Mission of Yuma with her mugshot. In 2005, Lugo turned herself in on drug sale warrants after she almost overdosed on heroin and was dumped in a ditch. Photo by Danielle Grobmeier/Cronkite News" %}

<p>Sgt. Andres Angulo, of the Yuma County Narcotics Task Force, said Yuma’s heroin problem is consistent — the product of an active street dealing market in which the users are also the dealers. Though drug busts aren’t spiking alarmingly, Yuma’s heroin community peeks out of parks, rusted mobile homes, flophouse windows and through the slats of wood yard fences.</p>

<h3>The streets</h3>


<p>Ricardo Gomez’s lean torso presses against a toolbox that he expertly balances on his bicycle, a colorful blanket covering the box and a machete strapped to his back. He pedals down Colorado Street near 18th Avenue in Yuma’s north end — one of Yuma’s heroin hotspots. Beads of sweat wet his brow in Yuma’s September sun. </p>


<p>He has a lot of prison tattoos, he said. One of them is the Major League Baseball insignia, inked into the nape of his neck.	</p>


<p>Gomez has been using heroin his entire life — whether he started at age 13, 14, 15, he doesn’t know. He’s been through rehab about three or four times. </p>


<p>“You come out worse,” he said.</p>


<p>He didn’t think about the first time he did heroin — he just did it. He didn’t like it then, but just kept using for decades. Now 38 years old, he doesn’t think he’ll ever be able to stop.</p>
<p>“I see how they wake up and they go about everyday things,” Gomez said. “They don’t need to pay for drugs to function.”</p>


<p>“I want to be just like them,” he said. “Normal.” </p>


<p>Gomez previously lived in a known flophouse just a block farther down Colorado. It was condemned and ultimately burned down, Sgt. Andres Angulo said, the wreckage cleared away only a few months ago.</p>


<p>Angulo said Gomez has long been a small-time thief, his criminal record a collection of burglary, shoplifting and criminal damage charges. Crimes of opportunity are one of the common ways long-time heroin users find the money to get a fix, Angulo said. </p>



<p>And the house where Gomez and his associates squatted isn’t the only one.</p>


<p>Just a few miles away away from Claudia Lugo’s home is what she calls “the dopehouse” — a common squatter spot for addicts. </p>

{% include e-bigimage.html image="Yuma-drophouse_01.jpg" caption="A dopehouse in Yuma is cluttered with heroin rigs and old furniture on Nov. 21. The house has neither electricity nor running water. Photo by Danielle Grobmeier/Cronkite News" %}

<p>It’s a well-known heroin hub — unairconditioned, without electricity and running water, and with a large, untended front yard and a red blanket hanging over the porch. Inside, long-time addicts prepare spoons in the cramped, yellow-countered bathroom. Shelves holding various personal items and ashtrays are filthy with bits and pieces of heroin rigs and the saliva-yellowed butts of cigarettes. </p>

{% include e-floatfix.html %}

<p>On one of the arms of a dirty sofa perches a syringe, empty, and two cut-off soda can bottoms, crusted with dope.</p>



<h3>‘Better than sex’</h3>


<p>Many say most of these addicts will never recover, stuck in Yuma’s tight-knit community of users.</p>


<p>“With heroin, they’re still using. It’s just the nature of it,” Sgt. Andres Angulo said. “I have never met a recovered heroin addict.”</p>


<p>And even if users do recover, they stay in the heroin community as peer mentors or staff members at local methadone clinics and rehabilitation centers — the only places of employment where former addicts and drug felons are seen as qualified workers.</p>


<p>Yuma’s heroin users are an older crowd, one in which the addicts are statistically more likely to continue use until they die. The Yuma Treatment Center, a popular methadone clinic, often treats users between ages 30 and 45, though the center has seen addicts as young as 19 and as old as 72.</p>

{% include e-sideimage.html image="Yuma-drophouse_04.jpg" caption="A yellow, cluttered bathroom sink stands in the bathroom of a dopehouse in Yuma on Nov. 21. Photo by Danielle Grobmeier/Cronkite News" %}

<p>Groups of people will line up earlier than 5 a.m. in the darkness to get their dose of methadone. Dozens from San Luis and Somerton — about a third of the clinic’s clientele — are bussed in early every morning before they head to the fields near the border to work. </p>


<p>It’s a quiet, secret club, where everyone understands why the other is there. Some people stick around for group sessions that are part of their treatment plan, as mandated by the clinic. Each session is designated for a specific type of user, and users are assigned to them based on how long they’ve stayed clean. </p>


<p>These exchanges are confidential, but the circled-up ex-users — some long sober, others perpetually relapsing — still talk about their addictions with clarity.</p>


<p>“It was better than sex. It was better than Christmas,” said one woman, the fabric of her capri pants gently brushing against the milky white scars that gouge her calves. </p>


<p>It took Claudia Lugo eight years before she could leave behind her addiction, her final dope bender ending in the ditch where she was left, assumed dead.</p>

{% include e-floatfix.html %}

<h3>The ditch</h3>
<p>It was dark when she came to, she said of the night, and she woke next to a small palm tree, recently planted. Lugo felt nothing but desperation. She no longer had front teeth, and she had contracted Hepatitis C from using needles she found in trash cans. </p>


<p>Now, in her house, Lugo occasionally twists her lipsticked lips into a smile and cracks a joke. She passed another milestone for her sobriety — nine years — and she’s told this story countless times, it would seem.</p>


<p>She wouldn’t get clean until, covered in mud, she stumbled into the Rural Metro station just down the street from the ditch to turn herself in on a drug sale warrant — the one she evaded after being arrested and bonded out in 2004. She had gotten caught crossing the border into the U.S. into the San Luis area, a packet of heroin tucked into her bra. </p>


<p>She kicked her heroin habit for two months in county jail.</p>


<p>“On the floor throwing up, sh-tting all over myself,” Lugo said of her withdrawals. </p>



<p>The whisper of a green-apple Jolly Rancher hard candy, precisely slipped under her cell door, would be one of her only comforts. That, and lying under the bottom bunk of her cell bed, if only to be in the darkness.</p>


<p>This was the moment that defined almost a decade of suffering. A decade in which she had woken up in numerous motels, been raped a number of times, married and divorced twice, was asked to resign from her job as a legal secretary and neglected and abused her three children.</p>

<p>She still remembers countless highs in her little bathroom, where she would religiously prep her needles. She recalls tucking her heroin rigs into her purse for work, and she hasn’t forgotten how her arms would bleed through her silk blouses — betraying her secret to her colleagues. </p>


<p>And then, she remembers the moment she stopped enjoying heroin, when she sat in the front seat of a truck of a man she did not know and gave him oral sex for $60.</p>


<p>Lugo is now a counselor at Crossroads Mission of Yuma, an abstinence-style rehabilitation facility, and she keeps two worn, highlighter-filled journals inside her desk drawer.</p>


<p> The first book chronicles parts of her second marriage, which was abusive, from 1993 to 1997. But she didn’t start using heroin until she penned the second journal. She said the highlighted bits are from times when she was beaten by her spouse.</p>

{% include e-sideimage.html image="Yuma-Lugo_03.jpg" caption="Claudia Lugo, 47, stands near the ditch in which she was dumped more than nine years ago, presumed dead. Lugo used heroin for more than eight years until she stopped shooting up. Photo by Danielle Grobmeier/Cronkite News" %}

<p>“Still very depressing and hard days,” she reads from the first book.</p>


<p>“Give me a sign, dear God, that you’re going to be by my side in this battle to stop what I am doing to myself and my body,” she reads from the second.</p>


<h3>Heroin, a needle and a spoon</h3>

<p>And then there’s Richard “Richie” Rubi, a 38-year-old former Marine and a regular at the Yuma Treatment Center. He’s unassuming with dark, clean-cut hair, a blue polo shirt, jeans and dark tennis shoes. Until he holds his arms out to show you his scars.</p>


<p>Rubi grew up in Queens, New York, and was first acquainted with drug abuse as a child, when he saw his brother become a heroin addict. He promised himself that he would never use — until he did.</p>


<p>He was prescribed Vicodin, Percocet and Oxycontin after a head-on motorcycle accident in 2003 left him with a broken shoulder, a brain injury and a knee full of torn ligaments. He would be unable to walk for eight months, but would continue to take the pain pills as prescribed for two years. A member of the Marine Corps for more than a decade, Rubi wouldn’t find out about his addiction until his pharmacy refused to refill his prescription. </p>

{% include e-bigimage.html image="Yuma-Ruby_01.jpg" caption="Richie Rubi, 38, prepares to take his daily dose of methadone at the Yuma Treatment Center on Nov. 21. A police officer found heroin, a needle and a spoon in Rubi’s rental car during a stop on May 23, 2012. Photo by Danielle Grobmeier/Cronkite News" %}

<p>His secret was the heartbeat of the rest of his military career. He would do a combat tour in Iraq for six months, eventually getting ordered to Yuma, where he would lose everything.</p>


<p>“They should have known that me being on pain medication would cause some kind of addiction. They should’ve. They should have told me the dangers of an addiction to this kind of medication. They should have put me in some kind of rehabilitation program that would help wean me off these pills, but they never did,” Rubi said. “So I have this secret now, and I’m still getting promoted, I’m still doing great. But now I’m a functioning addict.”</p>


<p>In 2009, he was promoted to gunnery sergeant, and just a few months later, a random drug screen would unravel his untold world. He was less-than-honorably discharged after he “popped positive” for opiates, his binder full of certificates and photos only a painful reminder for what he had lost. His court martial would begin just one week after he would have received his gunnery sergeant pin — just another casualty of his undoing. </p>


<p>“I thought, ‘They wanna see a drug addict? I’ll show them a drug addict,’” Rubi said.</p>


<p>He shot heroin for a couple years until May 23, 2012, when an officer would find the drug, a needle and a spoon in his rental car during a stop. By this time, he had lost his girlfriend and his job and had sold anything of value he owned to fund his addiction. He had blown through money left to him by his deceased father, only stopping short of selling his ex-girlfriend’s son’s video games — something he said he could never have done.</p>



<p>He’s afraid of relapse, too — his dreams are regularly peppered with shooting dope, when he’s not having nightmares about his combat tour in Iraq.</p>

{% include e-sideimage.html image="Yuma-Ruby_02.jpg" caption="Richard “Richie” Rubi, 38, holds a cardboard plaque of medals from his 14-year career in the Marine Corps. Rubi was less-than-honorably discharged in 2009 after his addiction to prescription pills was discovered, and soon after he began using heroin. Photo by Danielle Grobmeier/Cronkite News" %}
<p>“Just a few years ago, people looked up to me. People wanted to be where I was at. People shook my hand on the street. People bought me a beer at the bar,” he said. “Going from that to being a junkie on the street is very hard.”</p>


