
</div>
{% if page.isfrontpage %}
<style type="text/css">

@media only screen and (max-width:480px) {
.arizonas-drug-dilemma {
background: url(/phototron-hooked/arizonas-drug-dilemma-768.jpg) no-repeat center center fixed;   -webkit-background-size: cover;
 background-attachment: scroll;
        /* default height landscape*/
        height: 768px;
        width:100%;
  }
}

@media only screen and (min-width:480px) {
.arizonas-drug-dilemma {background:url(/phototron-hooked/arizonas-drug-dilemma-1200.jpg) no-repeat center center fixed;   -webkit-background-size: cover;
 background-attachment: scroll;
        /* default height landscape*/
        height: 768px;
        width:100%;
        }
}

@media only screen and (min-width:1200px) {
.arizonas-drug-dilemma {background:url(/phototron-hooked/arizonas-drug-dilemma-1600.jpg) no-repeat center center fixed;   
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;}
}

@media only screen and (min-width:1600px) {
.arizonas-drug-dilemma {background:url(/phototron-hooked/arizonas-drug-dilemma-2560.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;}
}
</style>
<div id="arizonas-drug-dilemma" class="arizonas-drug-dilemma navfix jumbotron">
<div class="container">
    <h1 class="text-left sec-title" style="color:#eee;">Arizona’s Drug Dilemma</h1>
    <div class="row">
    	<div class="col-md-4"><h4 class="sec-sub">Repeated relapses are reality for recovering heroin addicts.</h4></div>
    </div>

  </div>

</div>
{% endif %}  
<div class="container gw-body" role="main">


<div class="row">
	  <div class="col-md-3 col-sm-6">
	  <a href="/first-responders-hospitals-on-front-lines-of-arizonas-heroin-crisis/"><h3 class="media-heading small-headline">First responders, hospitals on front lines of Arizona's heroin crisis</h3></a>
      <p>When someone overdoses on heroin, it's a race against time for first responders and hospitals to revive them. Learn about the struggle from the perspectives of overdose survivors, paramedics and emergency room workers.
</p>
      </div>
	  <div class="col-md-3 col-sm-6">

	  <a href="/trend-of-over-prescribing-painkillers-a-path-to-heroin-addiction/"><h3 class="media-heading small-headline">Frequent problem: Over-prescribing of painkillers commonly leads to addiction</h3></a>
      <p>Doctors are prescribing painkillers far more frequently and experts say this addiction can lead to heroin use. Most heroin addicts admit they first abused pain pills.</p>
	  </div>

	  <!-- Add the extra clearfix for only the required viewport -->
	  <div class="clearfix visible-sm-block"></div>
	  <div class="col-md-3 col-sm-6">
<a href="/how-heroin-affects-the-body/"><h3 class="media-heading small-headline">Effects of heroin on the body and mind</h3></a>
      <p>This visualization by Cronkite’s New Media Innovation Lab takes you through the way heroin works on your brain and on its ultimate outcome, including addiction and, in many cases, the ways its use can prove fatal. </p>
      </div>

	  <div class="col-md-3 col-sm-6">
	  <a href="/your-body-on-heroin-drug-causes-feelings-of-pleasure-strong-enough-to-be-described-as-euphoric-by-users/"><h3 class="media-heading small-headline">Your body on heroin: Addicts call heroin the most euphoric of drugs.</h3></a>
      <p>The deadly drug drives dopamine levels and induces feelings of pleasure strong enough to be continually described as “euphoric” by users — a high better and cheaper than anything else on the street. </p>
	  </div>


</div> <!-- row -->

<div class="row">

	  	  <div class="col-md-6 col-sm-6">
<a href="/young-white-suburban-plus-risk-taking-behavior-makes-getting-addicts-into-treatment-difficult/"><h3 class="media-heading small-headline">Slaying a dragon: Successful treatment often eludes young users</h3></a>
      <p>A new generation of heroin addicts has emerged. They are young, white and suburban. But the hallmarks of youth, their risk taking and impulsive behavior, do not lend themselves to treatment.</p>
      </div>
	  <div class="col-md-6 col-sm-6">	  
	  <a href="/the-conversation-when-how-to-talk-with-kids-about-heroin-other-drugs/"><h3 class="media-heading small-headline">The conversation: When, how to talk with kids about heroin, other drugs</h3></a>
      <p>For parents, it’s never too early to begin talking with children about heroin and other drugs. Explore when and how to have these conversations in this video Q&A with experts from NotMyKid and DrugFreeAZKids.org.</p>
      </div>


</div> <!-- row -->