
</div> 
{% if page.isfrontpage %}
<style type="text/css">

@media only screen and (max-width:480px) {
.communities-in-crisis {
background: url(/phototron-hooked/communities-in-crisis-768.jpg) no-repeat center center fixed;   -webkit-background-size: cover;
 background-attachment: scroll;
        /* default height landscape*/
        height: 768px;
        width:100%;
  }
}

@media only screen and (min-width:480px) {
.communities-in-crisis {background:url(/phototron-hooked/communities-in-crisis-1200.jpg) no-repeat center center fixed;   -webkit-background-size: cover;
 background-attachment: scroll;
        /* default height landscape*/
        height: 768px;
        width:100%;
        }
}

@media only screen and (min-width:1200px) {
.communities-in-crisis {background:url(/phototron-hooked/communities-in-crisis-1600.jpg) no-repeat center center fixed;   
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;}
}

@media only screen and (min-width:1600px) {
.communities-in-crisis {background:url(/phototron-hooked/communities-in-crisis-2560.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;}
}
</style>
<div id="communities-in-crisis" class="communities-in-crisis navfix jumbotron">
<div class="container">
    <h1 class="text-left sec-title" style="color:#eee;">Communities in Crisis</h1>
    <div class="row">
    	<div class="col-md-4"><h4 class="sec-sub">Heroin has staked its claim in nearly every Arizona city.</h4></div>
    </div>

  </div>

</div>
{% endif %}  
<div class="container gw-body" role="main">

<div class="row">
	  <div class="col-md-3 col-sm-6">
	  <a href="/proximity-to-border-helps-make-tucson-an-epicenter-of-arizonas-heroin-epidemic/"><h3 class="media-heading small-headline">Tucson: Proximity to border makes the city an epicenter for Arizona’s heroin epidemic</h3></a>
      <p>A little more than an hour up Interstate 19 from the border, Tucson is inevitably deeply affected by the heroin trade so prevalent in Arizona. A Cronkite News analysis of state data shows five ZIP codes have seen the most overdoses.</p>
      </div>
	  <div class="col-md-3 col-sm-6">

	  <a href="/in-prescott-everybodys-hometown-150-programs-offer-treatment-to-addicts/"><h3 class="media-heading small-headline">Prescott: Locals call it ‘everybody’s hometown,’ but it’s also home to hundreds of addicts trying to recover</h3></a>
      <p>Group homes, treatment programs and property crime are up and property values are down in this rural city. Stunning numbers of people are coming to town to try to find sobriety.</p>
	  </div>

	  <!-- Add the extra clearfix for only the required viewport -->
	  <div class="clearfix visible-sm-block"></div>

	  <div class="col-md-3 col-sm-6">
<a href="/yumas-heroin-problem-is-persistent-and-visible-the-result-of-life-on-the-border/"><h3 class="media-heading small-headline">Yuma: A city where the promise of drugs is a given and a strong heroin network thrives</h3></a>
      <p>Drugs are a given in this border city. Access to the San Luis and Andrade ports of entry promote a street-trafficking culture that is consistent and permeates wide chunks of the city.</p>
      </div>
	  <div class="col-md-3 col-sm-6">
	  <a href="/glendale-how-an-addict-and-his-mother-took-the-first-steps-to-getting-help/"><h3 class="media-heading small-headline">West Valley: For parents, a child’s struggle with heroin addiction can be all-consuming</h3></a>
      <p>Having a child addicted to heroin has left many Arizona parents struggling for answers and support. Some find help at meetings  where parents share stories about the signs of heroin use.</p>
	  </div>


</div> <!-- row -->

<div class="row">
	  <div class="col-md-4">
	  
	  <a href="/from-a-modest-home-in-chandler-a-major-drug-ring-grows-prospers-and-is-dismantled/"><h3 class="media-heading small-headline">Chandler: A look inside the operations of a family heroin drug cell</h3></a>
      <p>Wiretaps and confidential informants allowed law enforcement to build a criminal case against a family that was trafficking and selling heroin in Chandler and other East Valley communities, where the drug’s use has continue to escalate. </p>
      </div>
	  <div class="col-md-4">
	  
	  <a href="/breaking-the-cycle-of-addiction-isnt-easy-former-users-now-sponsors-can-be-key/"><h3 class="media-heading small-headline">Sponsors can be key for those seeking to break heroin’s grip</h3></a>
      <p>Ending heroin addiction usually can't be done alone, as nearly all addicts wind up using again. In 12-step programs, former users serving as sponsors guide addicts to recovery. Hear from three former heroin addicts who now are sponsors.</p>
	  </div>

	  <!-- Add the extra clearfix for only the required viewport -->
	  <div class="clearfix visible-sm-block"></div>

	  <div class="col-md-4">
<a href="/for-addicts-and-parents-first-steps-key-to-breaking-heroins-grip/"><h3 class="media-heading small-headline">Glendale: For addicts and parents, first steps are key to breaking the grip of heroin</h3></a>
      <p>Breaking a heroin addiction affects both users and their friends and families. But what next? And what are the first steps for family and friends?</p>
      </div>

</div> <!-- row -->