
</div> 
{% if page.isfrontpage %}
<style type="text/css">

@media only screen and (max-width:480px) {
.data {
background: url(/phototron-hooked/history-hero-768.jpg) no-repeat center center fixed;   -webkit-background-size: cover;
 background-attachment: scroll;
        /* default height landscape*/
        height: 768px;
        width:100%;
  }
}

@media only screen and (min-width:480px) {
.data {background:url(/phototron-hooked/history-hero-1200.jpg) no-repeat center center fixed;   -webkit-background-size: cover;
 background-attachment: scroll;
        /* default height landscape*/
        height: 768px;
        width:100%;
        }
}

@media only screen and (min-width:1200px) {
.data {background:url(/phototron-hooked/history-hero-1600.jpg) no-repeat center center fixed;   
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;}
}

@media only screen and (min-width:1600px) {
.data {background:url(/phototron-hooked/history-hero-2560.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;}
}
</style>
<div id="data" class="data navfix jumbotron">
<div class="container">
    <h1 class="text-left sec-title" style="color:#eee;">Data</h1>
    <div class="row">
    	<div class="col-md-4"><h4 class="sec-sub">Heroin overdoses by the numbers.</h4></div>
    </div>

  </div>

</div>
{% endif %}  
<div class="container gw-body-last" role="main">

<div class="row">

	  	  <div class="col-md-4">
	  <a href="/data/"><h3 class="media-heading small-headline">Heroin overdoses: By the numbers</h3></a>
      <p>The data presented is drawn from a Cronkite News analysis of public records from the 2009-2013 Arizona Hospital Discharge Data Set, gathered by the Bureau of Public Health Statistics, Arizona Department of Health Services.</p>
	  </div>
	  
	  <div class="col-md-4">
	   <a href="https://itunes.apple.com/us/app/highly-potent/id943072360?ls=1&mt=8"><h3 class="media-heading small-headline">Graphic novel</h3></a>
	  <p style="margin-bottom: 10px;">Download a graphic novel on the history of heroin prepared by Cronkite’s New Media Innovation Lab.  It will be useful for teachers. It is available on the iTunes App Store.</p>
	  	<a href="https://itunes.apple.com/us/app/highly-potent/id943072360?ls=1&mt=8"><img src="/img-hooked/app-store.png" alt="Download on the Apple App Store" class="img-responsive" style="margin-bottom: 20px;" /></a>
	  </div>
	  
	  	  	  <div class="col-md-4">
	  <a href="/resources-for-addicts-and-families/" target="_blank"><h3 class="media-heading small-headline">HOOKED resource guide</h3></a>
      <p>Resources and places to go for help for addicts and families.</p>
	  </div>

</div> <!-- row -->

