
<div class="container-full">
	<div class="row">
		<div class="col-sm-12">       		
			<div class="embed-responsive embed-responsive-16by9" >  
<iframe class="embed-responsive-item" src="//player.vimeo.com/video/116172307?title=0&amp;byline=0&amp;portrait=0&amp;color=a0181d" frameborder="0"  webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row" style="padding-bottom: 10px;">

		<div class="col-sm-4">
			<div class="col-sm-12" style="padding-top: 10px;">
				<a href="/documentary/"><i class="fa fa-vimeo-square"></i> Watch HookedAZ in English</a>
			</div>
			<div class="col-sm-12" style="padding-top: 10px;">
				<a href="/documentary-espanol/"><i class="fa fa-vimeo-square"></i> Vea HookedAZ en Español</a>
			</div>
		</div> <!-- col-sm-5 -->
		<div class="col-sm-4">
			<div class="col-sm-12" style="padding-top: 10px;">
				<a href="/documentary-radio/"><i class="fa fa-soundcloud"></i> Listen to HookedAZ in English</a>
			</div>
			<div class="col-sm-12" style="padding-top: 10px;">
				<a href="/documentary-radio-espanol/"><i class="fa fa-soundcloud"></i> Escuche HookedAZ en Español</a>
			</div>
		</div> <!-- col-sm-5 -->
		<div class="col-sm-4" style="padding-top: 10px;">
			<div class="animated story_side fadeIn">
<a href="/share-your-thoughts"><button type="button" style="margin-top: 10px;" class="btn red-btn sans animated story_side fadeIn">Share your thoughts &nbsp;<i class="fa fa-bullhorn fa-fw"></i></button></a>
</div>
		</div>
	</div>

</div>
