
</div>
 {% if page.isfrontpage %}
   <style type="text/css">
   
@media only screen and (max-width:480px) {
.heroins-deadly-toll {
background: url(/phototron-hooked/heroins-deadly-toll-768.jpg) no-repeat center center fixed;   -webkit-background-size: cover;
 background-attachment: scroll;
        /* default height landscape*/
        height: 768px;
        width:100%;
  }
}

@media only screen and (min-width:480px) {
.heroins-deadly-toll {background:url(/phototron-hooked/heroins-deadly-toll-1200.jpg) no-repeat center center fixed;   -webkit-background-size: cover;
 background-attachment: scroll;
        /* default height landscape*/
        height: 768px;
        width:100%;
        }
}

@media only screen and (min-width:1200px) {
.heroins-deadly-toll {background:url(/phototron-hooked/heroins-deadly-toll-1600.jpg) no-repeat center center fixed;   
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;}
}

@media only screen and (min-width:1600px) {
.heroins-deadly-toll {background:url(/phototron-hooked/heroins-deadly-toll-2560.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;}
}
</style>  
<div id="heroins-deadly-toll" class="heroins-deadly-toll phototron jumbotron">
<div class="container">
    <h1 class="text-left sec-title" style="color:#eee;">Heroin’s Deadly Toll</h1>
    <div class="row">
    	<div class="col-md-4"><h4 class="sec-sub">More Arizona teens and young adults are now using heroin and all too often overdosing.</h4></div>
    </div>

  </div>

</div>
 {% endif %}  
<div class="container gw-body" role="main">
<div class="row">
	  <div class="col-md-3 col-sm-6">
	  <a href="/heroins-road-to-arizona-tests-law-enforcement-feeds-a-growing-demand/"><h3 class="media-heading small-headline">Road to Arizona: Heroin trafficking impacts communities</h3></a>
      <p>Addicts see heroin as an alternative to costly pain pills, making it a profitable prize for smugglers.</p>
      </div>
	  <div class="col-md-3 col-sm-6">

	  <a href="/relentless-cycle-of-addiction-often-begins-in-teenage-years/"><h3 class="media-heading small-headline">Many young addicts started using in their teens and 20s</h3></a>
      <p>Users tell Cronkite News they didn’t care about family, jobs or school. Only their next fix.</p>
	  </div>

	  <!-- Add the extra clearfix for only the required viewport -->
	  <div class="clearfix visible-sm-block"></div>


	  <div class="col-md-3 col-sm-6">
	  <a href="/overdose-deaths-on-the-rise-across-arizona-and-the-nation/"><h3 class="media-heading small-headline">Arizona officials say overdose deaths on the rise at startling rate</h3></a>
      <p>The Centers for Disease Control also reported a nationwide increase last year from 2,679 in 2011 to 3,635 in 2012.
</p>
	  </div>
	  	  <div class="col-md-3 col-sm-6">
<a href="/for-one-couple-staying-sober-is-the-key-to-their-relationship/"><h3 class="media-heading small-headline">Heroin love affair: A couple fights addiction on a daily basis</h3></a>
      <p>They met after getting clean two years ago, but repeated relapses threaten their lives and future.</p>
      </div>


</div> <!-- row -->






