<div class="container story-body" role="main">
<div class="row" style="padding-top:30px;">
			<div class="col-sm-2 col-lg-2 text-center story-label">
			</div>
			<div class="col-sm-5 col-sm-offset-5 col-lg-3 col-lg-offset-7 text-center">
  				<span><a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x btn-fb"></i><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></span></a></span>
  				<span><a href="https://twitter.com/share?url={{ site.url }}{{ page.url }}&text={{ page.title }}"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x btn-twit"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span></a></span>
  				<span><a href="mailto:?body=This story is from HookedAZ: Tracking Heroin’s Hold on Arizona {{ site.url }}{{ page.url }}&subject=Check out this story from Cronkite News: {{ page.title }}"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x btn-email"></i><i class="fa fa-envelope fa-stack-1x fa-inverse"></i></span></a></span>
  		
  		</div>
  		</div>

<div class="row" style="padding-top:15px;">
	<div class="col-sm-12 story-headline"><h1 class="storyPage-headline" style="padding-top:0;margin-top:0;">Heroin overdose cases data in Arizona</h1>
	<h3>The data presented is drawn from a Cronkite News analysis of public records from the 2009-2013 Arizona Hospital Discharge Data Set, gathered by the Bureau of Public Health Statistics, Arizona Department of Health Services.</h3>
	</div>
	<div class="col-sm-5"><ul class="media-list">
  </ul></div>
		
		
	</div>
		<div class="row hidden-lg hidden-md hidden-sm sans">
			<div class="col-xs-12">
				<div class="alert alert-warning alert-dismissible" role="alert">
  				<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  				<strong class="text-center">NOTE</strong><br />Data visualizations function on smartphones, but are best viewed on a larger screen.
			</div>
			</div>
			</div>
		


<hr class="hrbar" style="margin-top:4px;" />


<div class="row">
<div class="col-sm-12 data-nav text-center">
<!-- Nav tabs -->
      <a type="button" class="navbar-toggle btn btn-lg text-center sans" data-toggle="collapse" data-target="#data-nav">Explore more data&nbsp;&nbsp;<i class="fa fa-bars"></i></a>
    <div class="collapse navbar-collapse" id="data-nav">

<ul class="nav nav-pills nav-justified sans" role="tablist">
  <li class="active"><a href="#data" role="tab" data-toggle="tab" class="metal linear">View by Years&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
  <li><a href="#county" role="tab" data-toggle="tab" class="metal linear">View by Counties&nbsp;&nbsp;&nbsp;</a></li>
  <li><a href="#maricopa" role="tab" data-toggle="tab" class="metal linear">Maricopa Zip Codes</a></li>
    <li><a href="#pima" role="tab" data-toggle="tab" class="metal linear">Pima Zip Codes&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
  <li><a href="#hos" role="tab" data-toggle="tab" class="metal linear">View by Hospitals&nbsp;&nbsp;</a></li>
  <li><a href="#city" role="tab" data-toggle="tab" class="metal linear">View by Cities&nbsp;&nbsp;&nbsp;</a></li>
</ul>
</div>
<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="data">
    <div><p style="text-align:left;font-weight:400;padding:10px 15px">Heroin overdose cases in Arizona from 2009 to 2013, a breakdown by race and gender. Hover over the bars to explore specific numbers.</p></div>
    <iframe class="npr-responsive-nullification" src="/interactives/data.html" style="width:100%;height:1150px;border:none;"></iframe>
  </div>
  <div class="tab-pane" id="county">
    <div><p style="text-align:left;font-weight:400;padding:10px 15px">Hover over the map to view the number of overdose cases in each county from 2009 to 2013.</p></div>
    <iframe class="npr-responsive-open-conceal" src="/interactives/county.html" style="width:100%;height:1100px;border:none;"></iframe>
  </div>
  
  <div class="tab-pane" id="maricopa">
    <div><p style="text-align:left;font-weight:400;padding:10px 15px">Hover over the map to view the number of overdose cases in Maricopa county zip by zip from 2009 to 2013.</p></div>
    <iframe class="npr-responsive-suicides" src="/interactives/phoenix.html" style="width:100%;height:800px;border:none;"></iframe>
  </div>
  
    <div class="tab-pane" id="pima">
          <div><p style="text-align:left;font-weight:400;padding:10px 15px">Hover over the map to view the number of overdose cases in Pima county zip by zip from 2009 to 2013.</p></div>

    <iframe class="npr-responsive-suicides" src="/interactives/pima.html" style="width:100%;height:800px;border:none;"></iframe>
  </div>
  
  <div class="tab-pane" id="hos">
    <div><p style="text-align:left;font-weight:400;padding:10px 15px">Click to view overdose cases at each hospital. Zoom in to explore more.</p></div>
    <iframe class="npr-responsive-schools" src="/interactives/hosmap.html" style="width:100%;height:1100px;border:none;" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
  
  <div class="tab-pane" id="city">
    <div><p style="text-align:left;font-weight:400;padding:10px 15px">Click to view overdose cases at each city. Zoom in to explore more.</p></div>
  	<iframe class="npr-responsive-child-deaths" src="/interactives/citymapdots.html" style="width:100%;height:800px;border:none;"></iframe>
  </div>
</div>


</div>
</div>
</div><!-- /container -->
