{% comment %}

Side images and side videos float up to the nearest full-screen element.

Call {% include e-floatfix.html %} in the paragraph *above* the one where you put the side element to keep this from happening.

There's probably a better solution to this.

{% endcomment %}

<!-- floatfix keeps sidebar elements from floating all the way up to previous full-width element --> 
</div><!-- /col -->

<div class="col-sm-5">
</div>
</div>
<!-- /row -->

<div class="row">
<div class="col-sm-1"></div>
<div class="col-sm-6">