{% comment %}

To include: {% include e-gallery.html uniqueid="nucla" %}

{% endcomment %}
<!-- gallery start -->
</div><!-- /col -->
</div><!-- /row -->
<div class="row padd">
<div class="col-sm-10">

  <iframe class="embed-responsive-item" src="/slideshows/{{ include.uniqueid }}/index.html" height="700" width="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>


</div>
</div>
<div class="row padd">
<div class="col-sm-1"></div>
<div class="col-sm-6">
<!-- end gallery -->

