{% comment %}

To include: {% include e-interactive-big.html path="public_carry_map.html" height="1400" %}

{% endcomment %}
<!-- BEGIN e-interactive-big -->
</div><!-- /col -->
</div><!-- /row -->
<div class="row padd">
<div class="col-sm-12">

<iframe class="embed-responsive-item" src="/interactives/{{ include.path }}" style="width:100%; height: {{ include.height }}px; border:none;"></iframe>
  
</div>
</div>
<div class="row padd">
<div class="col-sm-1"></div>
<div class="col-sm-6">


<!-- end e-interactive -->
