{% comment %}
To include in story: {% include e-infobox.html text="I am the text" %}

Needs to go a graph or so in.

{% endcomment %}

</div><!-- /col -->
<!-- BEGIN SIDEBAR -->
<div class="col-sm-4 col-sm-offset-1"><div class="panel panel-default animated story_side fadeIn">
<div class="well-sm infobox">
  <div class="panel-body" style="padding:0;">
<ul class="list-group sharelines sans">
{{ include.text }}
</ul>
 </div>
</div>

</div></div>

</div><!-- / sidebar -->
<div class="row padd">
<div class="col-sm-1"></div>
<div class="col-sm-6">