

<div class="animated story_side fadeIn" style="padding-top: 20px;">
<span class="sans text-muted" style="text-transform:uppercase;margin:0;"><small><strong>Heroin in Arizona:</strong> What’s the next step?<br /></small></span>
<button type="button" style="margin-top: 10px;" class="btn red-btn sans animated story_side fadeIn" data-toggle="modal" data-target="#PINpopover">Share your thoughts &nbsp;<i class="fa fa-bullhorn fa-fw"></i></button>
</div>
</div> <!-- col-sm-12 -->


<div class="modal fade modal-fullscreen force-fullscreen" id="PINpopover" tabindex="-1" role="dialog" aria-labelledby="Feedback popover" aria-hidden="true" style="z-index: 1100";>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
      <button type="button" class="btn red-btn pull-right" data-dismiss="modal"><i class="fa fa-minus-square-o fa-3x"></i></button>
      <div class="row sans">
      <div class="col-sm-6 col-sm-offset-3" style="margin-top:75px;">
		<script type="text/javascript" src="https://www.publicinsightnetwork.org/air2/js/pinform.js?uuid=40bfb7ca2a5e"></script>
		<h2>Heroin in Arizona: What’s the next step?</h2>
<div id="pin-query-40bfb7ca2a5e"></div>
		</div>
		</div>
      </div>
      <div class="modal-footer" style="text-align:center;">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
