<!-- script references -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<!-- Custom JavaScript for the Side Menu and Smooth Scrolling -->
    <script>
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#static-wrapper").toggleClass("active");
    });
    $("#static-close").click(function(e) {
        e.preventDefault();
        $("#static-wrapper").toggleClass("active");
    });
    </script>
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#static-wrapper").toggleClass("active");
    });
    $("#static-toggle").click(function(e) {
        e.preventDefault();
        $("#static-wrapper").toggleClass("active");
    });
    $('.sidebar-nav li a').click(function(){
    $("#static-wrapper").toggleClass("active");
});
</script>
    
    <!-- not on data page -->
    <script>
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length && target.length > 0) {
                    $('html,body').animate({
                        scrollTop: target.offset().top-49
                    }, 1000);
                    //console.log('scrolltop: ', target.offset().top-49);
                    var target = this.hash,
        			$target = $(target);
                    window.location.hash = target;
                    return false;
                }
            }
        });
    });
    
    (function( $ ){

  $.fn.fitText = function( kompressor, options ) {

    // Setup options
    var compressor = kompressor || 1,
        settings = $.extend({
          'minFontSize' : Number.NEGATIVE_INFINITY,
          'maxFontSize' : Number.POSITIVE_INFINITY
        }, options);

    return this.each(function(){

      // Store the object
      var $this = $(this);

      // Resizer() resizes items based on the object width divided by the compressor * 10
      var resizer = function () {
        $this.css('font-size', Math.max(Math.min($this.width() / (compressor*10), parseFloat(settings.maxFontSize)), parseFloat(settings.minFontSize)));
      };

      // Call once to set.
      resizer();

      // Call on resize. Opera debounces their resize by default.
      $(window).on('resize.fittext orientationchange.fittext', resizer);

    });

  };

})( jQuery );
jQuery(".text-resize").fitText(1.3, {minFontSize: '20px', maxFontSize: '32px' });
jQuery(".text-violence").fitText(1.8, {minFontSize: '26px', maxFontSize: '62px' });   
    </script>
    <!-- end not on data page -->
<script>
(function ($) {
  $(document).ready(function(){
  
  $('.state-tip').tooltip();

    // hide .scroll-nav first
    $(".scroll-nav").hide();

    // fade in .scroll-nav
    $(function () {
        $(window).scroll(function () {

            // At what pixel should we show the nav
            if ($(this).scrollTop() > 110) {
                $('.scroll-nav').fadeIn(200);
            } else {
                $('.scroll-nav').fadeOut(75);
            }
        });
    });

});
  }(jQuery));

	<!-- end for home page -->
    

</body>
</html>	