</section>
<div class="home-brand phototron jumbotron">
	<video class="animated fadeIn img-responsive" autoplay loop id="snow">
		<source src="/assets/snowfall.webm" type="video/webm">
		<source src="/assets/snowfall.mp4" type="video/mp4">
	</video>
		<div class="overlay col-xs-6 col-xs-offset-3">     	     
      	      <img src="/assets/logos/logo-invert.png" class="img-responsive hidden-xs animated hinge fadeIn col-xs-12" />
		<h3 class="text-center proj-desc animated hinge fadeIn" style="text-shadow: 1px 1px #ccc;">Tracking Heroin’s Hold on Arizona</h3>
      			<h4 class="animated hinge fadeIn text-resize" style="text-shadow: 1px 1px #ccc;">As the drug pours into the state, an epidemic of addiction threatens a generation of young people, their families and friends.</h4>    
      		</div>
      </div>
      
      
      